<div class="drill-scroll-width-inner row drilldown-head drilldown-title active " ng-if="group.items[0]">
  <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10 intial-header">Aircraft Type</div>
  <div ng-if="(MisCtrl.shownGroup == 1)" class="col-10 intial-header">Regn No</div>
  <div ng-if="(MisCtrl.shownGroup == 2)" class="col-10 intial-header">Leg</div>
  <div ng-if="(MisCtrl.shownGroup == 3)" class="col-10 intial-header">Flight Number</div>
  <div ng-if="(MisCtrl.shownGroup == 3)" class="col-10 intial-header">Flight Date</div>
  <div ng-if="(MisCtrl.shownGroup == 3)" class="col-40" >
    <div class="col text-center" >Available Seats</div>
    <div class="col" >
      <div class="col-10 text-right">First </div>
      <div class="col-10 text-right">Business </div>
      <div class="col-10 text-right">Economy </div>
      <div class="col-10 text-right">Total </div>
    </div>
  </div>
  <div ng-if="(MisCtrl.shownGroup != 3)" class="col-10 text-right intial-header">Available Seats</div>
  <div class="col-10 text-right intial-header">Distance</div>
  <div class="col-10 text-right intial-header">ASKM</div>
</div>
<div ng-class="{activedrill: MisCtrl.isDrillRowSelected(MisCtrl.shownGroup,item)}" class="drill-scroll-width-inner row drilldown-list" ng-repeat="item in group.ItemsByPage[MisCtrl.currentPage[MisCtrl.shownGroup]]"  ng-click="MisCtrl.openBarDrillDown(item,MisCtrl.shownGroup)">
  <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10">{{item.aircrafttype}}</div>
  <div ng-if="(MisCtrl.shownGroup == 1)" class="col-10">{{item.aircraftregno}}</div>
  <div ng-if="(MisCtrl.shownGroup == 2)" class="col-10">{{item.aircraftleg}}</div>
  <div ng-if="(MisCtrl.shownGroup == 3)" class="col-10">{{item.flightNumber}}</div>
  <div ng-if="(MisCtrl.shownGroup == 3)" class="col-10">{{item.flightDate}}</div>
  <div ng-if="(MisCtrl.shownGroup == 3)" class="col-40" >
    <div class="col-10 text-right">{{item.availfstseat}} </div>
    <div class="col-10 text-right">{{item.availbuiseat}} </div>
    <div class="col-10 text-right">{{item.availecoseat}} </div>
    <div class="col-10 text-right">{{item.totalseat}} </div>
  </div>
  <div ng-if="(MisCtrl.shownGroup != 3)" class="col-10 text-right">{{item.totalseat}}</div>
  <div class="col-10 text-right">{{item.netDistance}}</div>
  <div class="col-10 text-right">{{item.netASKM}}</div>
</div>
