<ion-item class="item-stable main-title drilldown-head ext-margin" ng-click="appCtrl.toggleGroup(0)" ng-class="{active: appCtrl.isGroupShown(0)}"> <i class="icon float-right accord-icon" ng-class="appCtrl.isGroupShown(0) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i> &nbsp;
  Flight Processing status </ion-item>
<ion-item class="item-accordion setting-accordion" ng-class="{'drilldown-content-active': appCtrl.isGroupShown(0), 'drilldown-content-inactive': !appCtrl.isGroupShown(0)}" ng-show="appCtrl.isGroupShown(0)">
    <ion-item class="setting-select-all" >
    <div class="setting-all col col-50"> <span>Select all</span>
    <ion-checkbox ng-model="appCtrl.favfltprcsall" ng-click="appCtrl.selectAll(OprCtrl.orgflightProcStatus,appCtrl.favfltprcsall)" ></ion-checkbox>
    </div>
  </ion-item>

    <ion-item class="setting-item" ng-repeat="result in appCtrl.selectFavourite(OprCtrl.orgflightProcStatus,'fltprcs')">{{result.chartName}}
    <div class="setting-check">
    <ion-checkbox ng-model="favitems" ng-click="appCtrl.storeFavourite(result,favitems)" ng-checked="result.status || appCtrl.favfltprcsall"></ion-checkbox>
    </div>
  </ion-item>
</ion-item>


<ion-item class="item-stable main-title drilldown-head ext-margin" ng-click="appCtrl.toggleGroup(1)" ng-class="{active: appCtrl.isGroupShown(1)}"> <i class="icon float-right accord-icon" ng-class="appCtrl.isGroupShown(1) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i> &nbsp;
  Flight Count by Reason </ion-item>
<ion-item class="item-accordion setting-accordion" ng-class="{'drilldown-content-active': appCtrl.isGroupShown(1), 'drilldown-content-inactive': !appCtrl.isGroupShown(1)}" ng-show="appCtrl.isGroupShown(1)">
    <ion-item class="setting-select-all" >
    <div class="setting-all col col-50"> <span>Select all</span>
    <ion-checkbox ng-model="appCtrl.favfltcntprcsall" ng-click="appCtrl.selectAll(OprCtrl.orgFlightCountReason,appCtrl.favfltcntprcsall)" ></ion-checkbox>
    </div>
  </ion-item>

    <ion-item class="setting-item" ng-repeat="result in appCtrl.selectFavourite(OprCtrl.orgFlightCountReason,'fltcntprcs')">{{result.chartName}}
    <div class="setting-check">
    <ion-checkbox ng-model="favitems" ng-click="appCtrl.storeFavourite(result,favitems)" ng-checked="result.status || appCtrl.favfltcntprcsall"></ion-checkbox>
    </div>
  </ion-item>
</ion-item>


<ion-item class="item-stable main-title drilldown-head ext-margin" ng-click="appCtrl.toggleGroup(2)" ng-class="{active: appCtrl.isGroupShown(2)}"> <i class="icon float-right accord-icon" ng-class="appCtrl.isGroupShown(2) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i> &nbsp;
  Coupon Count by Exeception Category </ion-item>
<ion-item class="item-accordion setting-accordion" ng-class="{'drilldown-content-active': appCtrl.isGroupShown(2), 'drilldown-content-inactive': !appCtrl.isGroupShown(2)}" ng-show="appCtrl.isGroupShown(2)">
    <ion-item class="setting-select-all" >
    <div class="setting-all col col-50"> <span>Select all</span>
    <ion-checkbox ng-model="appCtrl.favcouponcntprcsall" ng-click="appCtrl.selectAll(OprCtrl.orgCouponCountException,appCtrl.favcouponcntprcsall)" ></ion-checkbox>
    </div>
  </ion-item>

    <ion-item class="setting-item" ng-repeat="result in appCtrl.selectFavourite(OprCtrl.orgCouponCountException,'couponcntprcs')">{{result.chartName}}
    <div class="setting-check">
    <ion-checkbox ng-model="favitems" ng-click="appCtrl.storeFavourite(result,favitems)" ng-checked="result.status || appCtrl.favcouponcntprcsall"></ion-checkbox>
    </div>
  </ion-item>
</ion-item>


<div>
 <div class="row settings-buttons">
    <div class=" button-bar col col-50">
        <a class="button button-custom-color button-modifier no-border button-inactive rev btn-padding-top" ng-click="appCtrl.saveFavourite()" ng-class="">Save my preference</a>
    </div>
    <div class=" button-bar col col-50">
        <a class="button button-modifier no-border button-inactive rev btn-padding-top" ng-click="appCtrl.saveFavourite()" ng-class="">Reset to Default</a>
    </div>
  </div>
</div>