<div class="drill-scroll-width-inner row drilldown-head drilldown-title active " ng-if="group.items[0]">
  <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10">Doc Type</div>
  <div ng-if="(MisCtrl.shownGroup == 1)" class="col-10">Route</div>
  <div ng-if="(MisCtrl.shownGroup == 2)" class="col-10">Sector</div>
  <div ng-if="(MisCtrl.shownGroup == 3)" class="col-10">Flight Number</div>
  <div ng-if="(MisCtrl.shownGroup == 3)" class="col-10">Flight Date</div>
  <div class="col-10">Gross</div>
  <div class="col-10">Discount</div>
  <div class="col-10">Commission</div>
  <div class="col-10">ORC</div>
</div>
<div ng-class="{activedrill: MisCtrl.isDrillRowSelected(MisCtrl.shownGroup,item)}" class="drill-scroll-width-inner row drilldown-list" ng-repeat="item in group.ItemsByPage[MisCtrl.currentPage[MisCtrl.shownGroup]]"  ng-click="MisCtrl.openBarDrillDown(item,MisCtrl.shownGroup)">
  <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10">{{item.documentType}}</div>
  <div ng-if="(MisCtrl.shownGroup == 1)" class="col-10">{{item.routecode}}</div>
  <div ng-if="(MisCtrl.shownGroup == 2)" class="col-10">{{item.flownSector}}</div>
  <div ng-if="(MisCtrl.shownGroup == 3)" class="col-10">{{item.flightNumber}}</div>
  <div ng-if="(MisCtrl.shownGroup == 3)" class="col-10">{{item.flightDate}}</div>
  <div class="col-10 text-right">{{item.gross}}</div>
  <div class="col-10 text-right">{{item.discount}}</div>
  <div class="col-10 text-right">{{item.commission}}</div>
  <div class="col-10 text-right">{{item.orc}}</div>
</div>
