<div class="drill-scroll-width-inner row drilldown-head drilldown-title active " ng-if="group.items[0]">
  <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10 intial-header">Region POS</div>
  <div ng-if="(MisCtrl.shownGroup == 1)" class="col-10 intial-header">Country of POS</div>
  <div ng-if="(MisCtrl.shownGroup == 2)" class="col-10 intial-header">City of POS</div>
  <div ng-if="(MisCtrl.shownGroup == 3)" class="col-10 intial-header">Doc Type</div>
  <div ng-if="(MisCtrl.shownGroup == 4)" class="col-10 intial-header">Flown Sector</div>
  <div ng-if="(MisCtrl.shownGroup == 5)" class="col-10 intial-header">Flight Number</div>
  <div class="col-40" >
    <div class="col text-center" >OWN</div>
    <div class="col" >
      <div class="col-10 text-right">Gross <span class="ion-arrow-up-b" ng-show="!ownGross" ng-click="ownGross = !ownGross;MisCtrl.sort('ownGross',MisCtrl.shownGroup,true);"></span><span ng-show="ownGross" ng-click="ownGross = !ownGross;MisCtrl.sort('ownGross',MisCtrl.shownGroup,false)" class="ion-arrow-down-b"></span></div>
      <div class="col-10 text-right">Discount <span class="ion-arrow-up-b" ng-show="!ownDiscount" ng-click="ownDiscount = !ownDiscount;MisCtrl.sort('ownDiscount',MisCtrl.shownGroup,true);"></span><span ng-show="ownDiscount" ng-click="ownDiscount = !ownDiscount;MisCtrl.sort('ownDiscount',MisCtrl.shownGroup,false)" class="ion-arrow-down-b"></span></div>
      <div class="col-10 text-right">Commision <span class="ion-arrow-up-b" ng-show="!ownCommission" ng-click="ownCommission = !ownCommission;MisCtrl.sort('ownCommission',MisCtrl.shownGroup,true);"></span><span ng-show="ownCommission" ng-click="ownCommission = !ownCommission;MisCtrl.sort('ownCommission',MisCtrl.shownGroup,false)" class="ion-arrow-down-b"></span></div>
      <div class="col-10 text-right">ORC <span class="ion-arrow-up-b" ng-show="!ownORC" ng-click="ownORC = !ownORC;MisCtrl.sort('ownORC',MisCtrl.shownGroup,true);"></span><span ng-show="ownORC" ng-click="ownORC = !ownORC;MisCtrl.sort('ownORC',MisCtrl.shownGroup,false)" class="ion-arrow-down-b"></span></div>
    </div>
  </div>
  <div class="col-40" >
    <div class="col text-center" >OAL</div>
    <div class="col" >
      <div class="col-10 text-right">Gross <span class="ion-arrow-up-b larger" ng-show="!oalGross" ng-click="oalGross = !oalGross;MisCtrl.sort('oalGross',MisCtrl.shownGroup,true);"></span><span ng-show="oalGross" ng-click="oalGross = !oalGross;MisCtrl.sort('oalGross',MisCtrl.shownGroup,false)" class="ion-arrow-down-b larger"></span></div>
      <div class="col-10 text-right">Commission <span class="ion-arrow-up-b larger" ng-show="!oalCommission" ng-click="oalCommission = !oalCommission;MisCtrl.sort('oalCommission',MisCtrl.shownGroup,true);"></span><span ng-show="oalCommission" ng-click="oalCommission = !oalCommission;MisCtrl.sort('oalCommission',MisCtrl.shownGroup,false)" class="ion-arrow-down-b larger"></span></div>
      <div class="col-10 text-right">Discount <span class="ion-arrow-up-b larger" ng-show="!oalDiscount" ng-click="oalDiscount = !oalDiscount;MisCtrl.sort('oalDiscount',MisCtrl.shownGroup,true);"></span><span ng-show="oalDiscount" ng-click="oalDiscount = !oalDiscount;MisCtrl.sort('oalDiscount',MisCtrl.shownGroup,false)" class="ion-arrow-down-b larger"></span></div>
      <div class="col-10 text-right">ORC <span class="ion-arrow-up-b larger" ng-show="!oalORC" ng-click="oalORC = !oalORC;MisCtrl.sort('oalORC',MisCtrl.shownGroup,true);"></span><span ng-show="oalORC" ng-click="oalORC = !oalORC;MisCtrl.sort('oalORC',MisCtrl.shownGroup,false)" class="ion-arrow-down-b larger"></span></div>
    </div>
  </div>
</div>
<div ng-class="{activedrill: MisCtrl.isDrillRowSelected(MisCtrl.shownGroup,item)}" class="drill-scroll-width-inner row drilldown-list" ng-repeat="item in group.ItemsByPage[MisCtrl.currentPage[MisCtrl.shownGroup]]"  ng-click="MisCtrl.openBarDrillDown(item,MisCtrl.shownGroup)">
  <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10">{{item.POSregion}}</div>
  <div ng-if="(MisCtrl.shownGroup == 1)" class="col-10">{{item.POScountry}}</div>
  <div ng-if="(MisCtrl.shownGroup == 2)" class="col-10">{{item.POScity}}</div>
  <div ng-if="(MisCtrl.shownGroup == 3)" class="col-10">{{item.documentType}}</div>
  <div ng-if="(MisCtrl.shownGroup == 4)" class="col-10">{{item.sector}}</div>
  <div ng-if="(MisCtrl.shownGroup == 5)" class="col-10">{{item.flightnumber}}</div>
  <div class="col-10 text-right">{{item.ownGross}}</div>
  <div class="col-10 text-right">{{item.ownDiscount}}</div>
  <div class="col-10 text-right">{{item.ownCommission}}</div>
  <div class="col-10 text-right">{{item.ownORC}}</div>
  <div class="col-10 text-right">{{item.oalGross}}</div>
  <div class="col-10 text-right">{{item.oalCommission}}</div>
  <div class="col-10 text-right">{{item.oalDiscount}}</div>
  <div class="col-10 text-right">{{item.oalORC}}</div>
</div>
