//$ionicons-font-path: "lib/ionic";
$ionicons-font-path: "../lib/ionic/fonts" !default;
//@import "../lib/ionic/scss/ionic";
@import "./fonts/font.scss";
//@import "../www/css/tabSlideBox.css";
@import "custom-styles.scss";
@import "common.scss";
@import "../www/components/user/login.scss";
@import "flown.scss";


