$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "www/lib/ionic/scss/ionic";

$button-large-icon-size:          152px !default;
$big-bg-color:                    #0A1356;
$header-bar-bg-color:             #0A1356;
$content-bgcolor:                 #FAFAFA;
$graph-percent-red:               #D01D1B;
$graph-percent-blue:              #4990E2;

$light:                           #fff !important;
body{
    font-family: $roboto_regular !important;
    overflow: hidden;
    overflow-x: hidden;
    width: 100%;
    height:100%;
}

.checkbox-wrap{
    font-size:16px;
    color:#FFF;
}
.login-bg{
        background: url($main-bg_image) no-repeat center center fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-color: $big-bg-color;
        height: auto !important;
        overflow: hidden !important;
}
.white-icon{
    color: $light;
}
.login-input::-webkit-input-placeholder, #upass::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.4);
   font-size: 18px;
}

.login-input:-moz-placeholder, #upass:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.4); 
   font-size: 18px; 
}

.login-input::-moz-placeholder, #upass::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.4); 
   font-size: 18px; 
}

.login-input:-ms-input-placeholder, #upass:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.4);  
   font-size: 18px;
}
.bar-modifier{
    background-color: $header-bar-bg-color;

}
.cont-bg-color{
    background-color: $content-bgcolor;

}
.graph-percent-red{
    color: $graph-percent-red;
    font-family: $roboto_regular;
}
.graph-percent-blue{
    color: $graph-percent-blue;
    font-family: $roboto_regular;
}

/*Custom styles*/
.pull-left{
    text-align: left;
}
.pull-right{
    text-align: right;
}
.no-margin{
    margin: 0px !important;
}
.no-padding{
    padding: 0px !important;
}
.section-margin{
    margin-top: 10px !important;
}




/* common css starts */


.slider-slide h3{
    color:#fff;
    margin-top:10px;
}
#tab-id .scroll{
    height:100%;
    border-bottom: 3px solid $light-border-color;
}

.tabbed-slidebox .tsb-icons:after{
    display:none;
}

.newitem {
    border: 0;
    outline: 0;
    background: transparent!important;
    border-bottom: 1px solid #fff !important;
    border-top-color: transparent!important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.login-input{
       
    padding-top: 4px!important;
    padding-left: 19px!important;
    height: 53px!important;
    color: #fff!important;
    vertical-align: middle;
    font-size: 20px!important;
    line-height: 23px!important;
    
}
.login-check{
    height: 20px;
    width: 20px;
    background-color: #fff !important;
    border: 2px solid #fff !important;
    background-color: transparent !important;
    vertical-align: bottom;
}
.login-btn-width{
    width: 200px;
    font-weight: 700;
}
#mydiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:80em;
    height:29em;
    margin-top: 14em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    
}
.metric-modifier{
    font-size: 16px;
    font-weight: bold;
    color: $section-heading-color;
    font-family: $roboto_regular;
}
.scroll-content{
    
    /*background-color: #f8f8f8 !important;*/
}
.button-modifier{
        font-size: 14px;
        height: 35px !important;
        min-height: 20px !important;
        line-height: 31px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    
}
.box{
    height: 300px;
    border-radius: 2px 2px 2px 2px;
    border: 2px solid $box-border-color;
    
}
.nav-height{
    height: 70px !important;
    border-bottom: none;
}
.has-header-new{
    margin-top: -11px !important;
}
.cust{
    width: 50px;
    height: 50px;
    color: $light;
}
.bar-modifier{
        .cust:before{
            vertical-align: top;
            font-size: 60px  !important;
            line-height: 51px !important;
            }
}
.header-item{
    height: 74px !important;
    right: 0px !important;
    overflow: inherit !important;
}
.line-height-10{
    line-height: 30px!important;
}
.pas-head-title{
    text-transform: uppercase;
    font-size: 18px;
    color: $light;
}
.pas-head-subtitle{
    font-size: 14px;
    font-weight: normal;
    color: $light;
}
.pas-head-subtitle select{
    padding:4px;
    margin: 0;    
    color:$select-month-color;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 80px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: $roboto_regular;
}
.move-left{
    margin-left: -5px;
    cursor: pointer;
}

.selectmonth{
    background-color: transparent;
    border: none;
    color: $select-month-color;
}
.img-circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.profile-img{
    float: right;
}
.profile-name{
    float: right;
    color: $light;
}
.last-login{
    clear: both;
    line-height: 13px;
    font-size: 12px;
    text-align: right;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
    color: $light;
    font-weight: bold;
}
.larger {
    font-size: larger;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-right:0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}

.dropdown-content a {
    color: black !important;
   border-bottom: 1px solid #E8E4E4;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}
.dropdown {
    a {
        &:hover {
            background-color: #f1f1f1
        }
    }
} 



.show {display:block;}
.border-bottom{border-bottom: 1px solid #E8E4E4}
.text-center{text-align: center;}
.heade2-values, .heade3-values{
    color: #0A1356;
    font-weight: bold;
    font-size: 12px;
}
.export{
    height: 35px;
    min-width: 40px;
    line-height: 30px;
    padding: 4px;
    margin-top: 2px;
    min-height: 30px;
}

.col-demo {
    padding: 5px;
    width: 100%;
    border: 1px solid rgba(200, 199, 199, 0.4);
    border-radius: 4px;
    background: #ffffff;
    text-align: center;
    min-height: 200px;
    box-shadow: 0px 0px 11px #E4E4E4;
}
.cust-font{
    font-size: 13px;
}
.icon-larger:before{
    font-size: 20px;
    font-weight: bold;
    color: #9B9B9B;
}
.graph-title{
    font-size: 1em;
    color: #5C5C5C;
    font-weight: bold;
    font-family: $roboto_regular;

}


.chart_legend {
    float: right;
    padding-right: 10px; 
    padding-bottom: 9px;
    padding-left: 14px;
    font-weight: normal;
    font-size: 14px;
}
.chart-legend-rev {
    float: left;
    padding-right: 10px; 
    padding-bottom: 9px;
    padding-left: 0.4em;
    font-weight: normal;
    font-size: 14px;
    padding-top: 1em;
}
.chart_legend.middle:before {
    border: 5px solid #FF8800;
}
.chart_legend.middle:before {
    border: 7px solid #B8E986 !important;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.chart_legend:before, .chart-legend-rev:before{
    content: " ";
    margin: 0px 5px 0px 0px;
}

.chart_legend.to:before, .chart-legend-rev.to:before {
    border: 7px solid #50E3C2 !important;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.chart_legend.from:before, .chart-legend-rev.from:before {
    border: 7px solid #4990E2 !important;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.box-cont{
    min-height: 150px;
    /*max-height: 200px;*/
}
.icon-larger-red:before{
    font-size: 20px;
    font-weight: bold;
    color: #D01D1B;
}
.icon-larger-blue:before{
    font-size: 20px;
    font-weight: bold;
    color: #4990E2;
}
.graph-percent-title{
    font-weight: 500;
    font-size: 14px;
    font-family: $roboto_regular;
}
.slide-min-height{
    min-height: 500px;
}
.border-bottom{
        border-bottom: 1px solid #f1f1f1;
}
.route-rev-min-height{
    min-height:145px !important;
}
.route-rev-padding-top{
    padding-top:20px !important;
}
.route-rev-val{
    font-size: 22px;
    font-weight: 500;
    line-height: 41px;
}
.route-rev-title{
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
}
.border-right{
    border-right: 1px solid #cdcdcd;
}

/* login checkbox custom starts */


.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    /*margin: 5px;*/
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
    top: -2px;
    padding: 0px 10px;
    margin: 0px -10px;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: transperent;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 0px;
   /* margin-right: 10px;*/
    text-align: center;
}
.checkbox-custom1 + .checkbox-custom-label:before{
    content: '';
    /*background: #ffc900!important;*/
    border: none !important;
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    padding: 0px;
   /* margin-right: 10px;*/
    text-align: center;
    border: 2px solid #B3B1AF !important;
    border-radius: 2px;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
     content: '✔';
    font-family: 'FontAwesome';
    /*background: #ffc900;*/
    color: #fff;
}
.checkbox-custom1:checked + .checkbox-custom-label:before {
     content: '✔';
    font-family: 'FontAwesome';
    background: $button-bg-color !important;
    color: #ffffff !important;
    border: 2px solid #F5A623 !important;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
     content: '✔';
    font-family: 'FontAwesome';
    color: #bbb;
}


/* login checkbox custom ends */
.margin-top-1{
    margin-top: -1px;   
}
.button-custom-color{
    background-color: $button-bg-color !important;
        color: #fff !important;
}
.button.activated {
    background: $primary-button-color-tr !important;
}
.button .button-custom-color.active, .button .button-custom-color.activated {
    background-color: $button-bg-color !important;
}
.button-inactive{
     background-color: $button-bg-color-inactive;
     color: $btn-icon-color;
}
.menu-bg a{
    background-color: $button-bg-color !important;
}
.menu-bg a:hover{
    background-color: $menu-bg-hover !important;
}
.menu-bg a:active{
    background-color: $menu-bg-hover !important;
}
.has-header-menu{
    top: 68px !important;
}
.download-btn{
    @include padding-vertical(0px, 0px);
}
.header-padding{
    @include padding-horizontal(12px, 16px);
}
.padding-right-zero{
    @include padding-right(0px);
}
.padding-left-zero{
    @include padding-left(0px);
}

@media only screen  and (min-device-width: 768px) and (max-device-width: 1024px) {
        .content-head, .sector-head {
        .icon {
            &:before{
                font-size: 26px;
                line-height: 31px !important;
            }
        }
        .extra-small{
            max-width: 140px !important;
        }        
    }
        .content-head{
            .btn-section{
                    width: 91%!important;
                    float: right!important;
                }
        }
    .tabbed-slidebox .tsb-icons .scroll a{
        padding-left: 30px!important;
        padding-right: 30px!important;
        margin: -14px 0px !important;
    }
    .net-revenue{
                .rev{
                    min-width: 54px;
                    font-size: inherit;
                }
                .pax{
                    min-width: 64px;
                    font-size: inherit;
                }
    }
    .bar-modifier{
                .cust:before{
                    vertical-align: top;
                    font-size: 54px !important;
                    line-height: 59px  !important;
                    }
    }
    .header-item{
                .header-logo{
                    margin-top: 0.45em;
                    margin-left: -1.3em;
                    }
    }
    .has-header {
        top: 35px;
    }
    .horizontal-bar-graph-label {
        width: 10%;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {     
    .content-head, .sector-head {
        .icon {
            &:before{
                font-size: 26px;
                line-height: 31px !important;
            }
        }
    }
    .cust-font {
        font-size: 0.68em;
    }
    .heade2-values{
        font-size: 1em;
    }
    .route-rev-title {
        font-size: 0.6em;
    }
    .metric{
        .rev-modifier{
                padding: 0 18%;
        }
    }
    .footer{ 
        bottom:12% !important; 
    }
    .route-rev-section{
            .row{
                flex: none !important;
                display: inline-block;
            }
            .col{
                flex: none !important;
                float: left;
            }
            .col-33{                
                max-width: 50%;
            }
            .net-rev-height{
                min-height: 317px;
            }
    }
    .sector-head {
       .cust-sel-width{
                width: 6em;
       }
    }
    .rev-footer{
        position: inherit !important;
    }
 }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .net-revenue{
        .rev{
                font-size: 15px;
            }
            .pax{
                font-size: 15px;
            }
    }
    .sector-head {
       .cust-sel-width{
                width: 7em;
       }
    }
    .metric{
        .rev-modifier{
                padding: 0 23%;
        }
        .metric-modifier{
                padding: 0 10%;
        }
    }
}
@media only screen  and (min-width: 1025px) {
    .tab-section-tabs {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        padding: 5px;
        width: 100%;
    }
    .sector-head {
       .cust-sel-width{
                width: 6em;
       }
    }
    .content-head, .sector-head {
        .button {
            max-width: 150px;
        }
        .btn-section{
            width: 60%!important;
            float: right!important;
        }
        .icon {
            &:before{
                font-size: 26px;
                line-height: 31px !important;
            }
        }
        .extra-small{
            max-width: 140px !important;
        }
        .ion-chevron-down{
            &:before{
                font-size: 16px;
                line-height: 30px !important;
            }
        }
    }
    .has-header {
        top: 35px;
    }
    .header-item{
                .header-logo{
                    margin-top: 0.35em;
                    margin-left: -1.3em;
                    }
    }
    .metric{
        .rev-modifier{
                padding: 0 32%;
        }
        .metric-modifier{
                padding: 0 20%;
        }
    }
}
.menu-bg{
    hr{
        border-style: none !important;
        border-bottom: 1px solid #ffffff !important;
        width: 90%;
    }
    .head-title{
        font-size: 20px !important;
    }

}
.scroll-height{
    height:100% !important;
}
.select-height{
    line-height: 32px;
}
/*svg{
    height: 30% !important;
}*/
.infopopover
{
    background-color: #FBF3AC !important;
     padding: 0.5em;
    width: 23% !important;
     margin-top:10px;
    max-height: 242px;
    overflow:visible;
}
.Info-page-title
{
    font-size: 18px;
    padding-bottom: 5px;
    margin-left: -5px;
    margin-right: 5px;
}

.drillpopover,.graphpopover, .sector-graph-popover {
    padding: 0.5em;
    width: 96% !important;
    top: 25% !important;
    left:2% !important; 
    min-height: 460px;
    border: 1px solid rgba(115, 114, 114, 0.4);
    box-shadow: 0px 0px 11px #BDBCBC !important;
    border-radius: 1px !important;
}
.graphpopover
{
    min-height: 380px !important;
}
.sector-graph-popover
{
    min-height: 380px !important;
}
.sector-graph-popover .padding-horizontal .row
{
    padding: 0px 0px 20px 0px;
}
.drillpopover .scroll, .graphpopover .scroll, .sector-graph-popover .scroll
{
    background: #FFF;
    min-height: 230px;
    padding: 10px;
    height: auto;
    }
.drillpopover .ion-close
{
    padding: 0px 17px 0px 0px;
    margin: 0px 0px 0px 15px;
}

.popover-wrapper .infopopover .popover-arrow {
  position: absolute;
  display: block;
  top: -21px;
  width: 30px;
  height: 21px;
  overflow: hidden; }
.popover-wrapper .infopopover .popover-arrow:after {
    position: absolute;
    top: 12px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #FBF3AC;
    border-radius: 3px;
    content: '';
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.popover-wrapper .drillpopover .popover-arrow, .popover-wrapper .drillpopover .popover-arrow:after {
display:none;
}
.infopopover .ion-close
{
    padding: 0px 15px;
    margin: 0px -10px;
}
.ion-close:before
{
    position:relative;
}
.graphpopover, .sector-graph-popover {
    background-color: #fff !important;
    padding: 0.5em;
    top: 30% !important;
    left:15% !important;
    border: 1px solid rgba(115, 114, 114, 0.4);
    width:70% !important;
    box-shadow: 0px 0px 11px #BDBCBC !important;
    border-radius: 1px !important;
}
.popover-arrow
{
        display:none;
}

.pop-title {
    font-size: 1.3em;
}
.pop-text {
    font-size: 1.1em;
}
.percentpadding{
    padding: 0 20%;
}
.percentpadding-revenuechart {
    padding: 0 26%;
}
.popup-close{
    text-align: right;
    cursor: pointer;
}
.drilldown-head{
    padding: 10px 5px 10px 5px;
    font-size: 14px;
    border: 0;
    color: #fff !important;
    background: #9B9B9B !important;
}
.drilldown-head.active{
    background: #3F97E3 !important;
}
.accord-icon:before{
    padding-right: 5px;
    font-size: 17px !important;
    font-weight: bold;
}
.drilldown-content{
    color: #000 !important;
    background: #fff !important; 
    border: 0;
    padding: 0;
    margin: 10px 0 15px 0;
}
.drilldown-title{
    font-size: 13px;
}
.drilldown-list:nth-child(even) {
    background: #EBEBEB;
}
.drill-page-title{
    text-transform:uppercase;
}
.drilldown-title{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
}
.drilldown-list{
    font-size: 12px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    margin-top: 0 !important;
}
.main-title{
    padding-left: 15px !important;
}
.search-results{
    font-size: 12px;
    text-align: left;
    padding-left: 15px;
}
.drill-search{
    border-bottom: 1px solid #9B9B9B !important;
    margin: -35px 0 10px 0;
    padding: 6px 0px 0 20px !important;
}
.search-icon{
    color:  #9B9B9B;
}
.search-close{
    float: right;
    margin-top: -35px;
}
.activedrill{
    background: #DD9620 !important;
    color: #fff !important;
}
.margin-top-10{
    margin-top: 10px !important;
}
.pagination {
    float: right;
}
.pagination li{
    float: left;
    margin-right: 10px;
}
.pagination li a{
    text-decoration:none;
    display: block;
    border: 0;
    font-size: 12px;
    padding: 0px 6px 0px 6px; 
}
.pagination li a.active{
    text-decoration:none;
    display: block;
    border: 1px solid orange;
    font-size: 12px;
    padding: 0px 6px 0px 6px; 
}

@media only screen and (max-device-width: 480px) {
    .user-info{
        display: none;
    }
    .header-logo{
        img{
            width: 117%;
            margin-left: -29px;
        }
    }
    .pas-head-title{
        font-size: 14px;
    }
    .flown-title{
        margin-left: -10px;
    }
    .content-head, .sector-head {
        .icon {
            &:before{
                font-size: 26px;
                line-height: 31px !important;
            }
        }
    }

    .tabbed-slidebox .tsb-icons .scroll a{
            margin: -4px 0px !important;
    }
    .has-header {
        top: 0px!important;
    }
    .scroll-width{
        width: 125%;
    }
    .net-revenue{
                .rev{
                    min-width: 54px;
                    font-size: 12px;
                }
                .pax{
                    min-width: 64px;
                    font-size: 12px;
                }
    }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) {
    .user-info{
        display: none;
    }
    .header-logo{
        img{
            width: 70%;
            margin-left: -29px;
        }
    }
    .flown-title{
        text-align: center;
    }
    .tabbed-slidebox .tsb-icons .scroll a{
            margin: -4px 0px !important;
    }
    .has-header {
            top: 0px!important;
    }
    .scroll-width{
        width: 117%;
    }
}
@media (min-device-width: 800px) and (max-device-width: 1280px) {
    .net-revenue{
                .rev{
                    min-width: 64px;
                    font-size: 14px;
                    
                }
                .pax{
                    min-width: 72px;
                    font-size: 14px;
                    
                }
    }
    .content-head .btn-section, .sector-head .btn-section {
        width: 85% !important;
        float: right !important;
    }

}
.horizontal-bar-graph,.net-rev-bar-graph {
  display: table;
  width: 100%;
  position: relative;
}

.horizontal-bar-graph-segment {
    display: table-row;
    height: 4em;
}
.net-rev-bar-graph-segment {
    display: table-row;
    height: 3em;
}
.horizontal-bar-graph-label {
    display: table-cell;
    /*border-right: 1px solid silver; */
    text-align: right;
    padding: 0px 9px 3px 0px;
    vertical-align: top;
    white-space: nowrap;
    /*vertical-align: middle;
    display: table-cell;*/
    
}
.net-rev-bar-graph-label{
    display: table-cell;
    text-align: right;
    padding: 0px 1px 3px 0px;
    vertical-align: baseline;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.horizontal-bar-graph-value {
  display: table-cell;
  /*padding: 1.4em 0;
  vertical-align: baseline;*/
  width: 100%;
  /*padding-top: 1.4em;*/
}
.net-rev-bar-graph-value {
  display: table-cell;
  padding: 0.4em 0;
  vertical-align: baseline;
  width: 100%;
}
.horizontal-bar-graph-value-scale{
    width: 95%;
    border: 1px solid #D1CAC5;
    margin-top: -0.3em;
}
.horizontal-bar-graph-value-bar, .net-rev-bar-graph-value-bar {
  /*background: silver;*/
  @include box-sizing(padding-box);
  padding: 4px 4px 3px;
  height: 1em;
  text-align: right;
  color: white;
  overflow: visible;
  display: table;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
    position: relative;
    height: 25px;
}
.net-rev-bar-graph-value-bar {
    height: 32px;
}
.horizontal-bar-graph-segment:nth-child(1), .net-rev-bar-graph-segment:nth-child(1){
    .horizontal-bar-graph-value-bar, span{
       background: #C9D5DF; 
    }
    .net-rev-bar-graph-value-bar{
       background: #4990E2; 
    }
}
.horizontal-bar-graph-segment:nth-child(2), .net-rev-bar-graph-segment:nth-child(2){
    .horizontal-bar-graph-value-bar, span{
       background: #9DC3E0; 
    }
    .net-rev-bar-graph-value-bar{
       background: #50E3C2; 
    }
}
.horizontal-bar-graph-segment:nth-child(3){
    .horizontal-bar-graph-value-bar, span{
           background: #92C7F0; 
        }
}
.horizontal-bar-graph-segment:nth-child(4){
    .horizontal-bar-graph-value-bar, span{
            background: #65B5F3; 
        }
}
.horizontal-bar-graph-segment:nth-child(5){
    .horizontal-bar-graph-value-bar, span{
            background: #078EE0; 
        }
}
.horizontal-bar-graph-value-bar{
    span{
        display: block;
        height: 38px;
        position: absolute;
        /*background-color: #387ef5;*/
        top: -6px;
        right: -2em;
        width: 40px;
        padding-top: 7px;
        border-radius: 3px;
        text-align: center;
     }
}
.horizontal-bar-graph-segment{
    .tooltip{
        opacity: 1;
        position: absolute;
        background-color: #ffffff;
        padding: 1em;
        right: 0%;
        width: 17em;
        z-index:10;
        box-shadow: 0px 0px 3px #DAD7D2;
    }
    button{
        height: 28px;
        margin-top: -0.4em;
        background-color: #F5A623;
        color: #fff;
        border-radius: 2px;
        width: 35px;
        vertical-align: text-bottom;
    }
}
.horizontal-bar-graph-segment:first-child {
  .horizontal-bar-graph-label { /*padding-top: 12px;*/ }
  .horizontal-bar-graph-value { /*padding-top: 11px;*/ }
}
.horizontal-bar-graph-segment:last-child {
  .horizontal-bar-graph-label { /*padding-bottom: 12px;*/ }
  .horizontal-bar-graph-value { /*padding-bottom: 11px;*/ }
}
.horizontal-bar-graph-segment{
.tooltip{
        table{
            width:100%;
                tr:nth-child(even) {background: #F1F0EE}
                tr:nth-child(odd) {background: #FFFFFF}
        }
        table td,
        table th
        {
            text-align:left;
            padding: 2px 0 2px 5px;
            /*border-right: 1px solid #fff;*/
        }

        table td + td,
        table th + th
        {
            text-align:right;
            padding: 2px 5px 2px 0;
        }
        p{
            text-align:left;
        }
        table th{
            background: #078EE0;
            color: #ffffff;
        }

    }
}

.tick { 
     line {
       display: none;
    }
}
.sector-padding{
    padding: 5%;   
}
.net-rev-title{
    text-align:left;
    padding-top: 1.5em;
}
.net-rev-height{
    min-height: 316px;
}

.button-bg{
    background-color: $default-button-color;
    min-height: 30px !important;
    border: none;
    border-radius: 2px;
    height: 35px;
    margin-top: 2px;
}
.button-bg option{
    background-color: #fff;
    min-height: 30px !important;
    color: #000000;
}
.button-bg option:hover{
    background-color: #cdcdcd!important;
    
}
.select-bg{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
    background: #fff url("../img/arrow-down.png") no-repeat;
    background-size: 25% 76%;
    background-position: right center;   
}
.custom-footer{
    color: $light;
    position: fixed;
    bottom: 1.2em;
}
.flown-footer{
    color: $dark;
    position: absolute;
    bottom: 122px;
}
.btn-section{
    .btn-padding-top{
        padding-top:2px;    
    }
}
.font-normal:before{
    font-weight: normal !important;
 }


 