.tabbed-slidebox-padding{
	@include padding-horizontal(7em, 7em);
}
.content-head{
	.metric-modifier{
			.icon-align:before{
				font-size: 24px;
				vertical-align: middle;
			}
		}
}
.chart_legend.second-middle:before {
    border: 7px solid #FEE728;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.graph-title-bottom{
	font-weight: normal;
	color: $title-color;
}
.graph-title-bottom-value{
	font-weight: bold;
	color: $title-color;
}
.graph-title-bottom-close{
	font-weight: bold;
	color: $close-text-color;
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px){
	
}