<div class="row responsive-sm section-margin content-head">
  <div class="col col-50 padding-horizontal padding-vertical metric-modifier pull-left">METRIC SNAPSHOT</div>
  <div class="col col-50">
    <div class="row btn-section">
      <div class=" pull-right padding-horizontal download-btn"><button class="button export" ng-click="MisCtrl.runReport('metricSnapshot',MisCtrl.toggle.monthOrYear,MisCtrl.header.flownMonth)"><img src="res/img/download.svg" /></button></div>
      <div class=" button-bar button-small padding-horizontal ">
        <a class="button button-custom-color button-modifier no-border button-inactive btn-padding-top" ng-click="MisCtrl.toggleMetric('month')" ng-class="{'button-custom-color': MisCtrl.toggle.monthOrYear=='month'}">Month</a>
        <a class="button button-modifier no-border button-inactive btn-padding-top" ng-click="MisCtrl.toggleMetric('year')" ng-class="{'button-custom-color': MisCtrl.toggle.monthOrYear=='year'}">Year</a>
      </div>
      <div class=" button-bar button-small button-energized padding-horizontal padding-right-zero">
        <a class="button button-custom-color button-modifier no-border button-inactive btn-padding-top" ng-click="MisCtrl.toggleChartOrTableView('chart')" ng-class="{'button-custom-color': MisCtrl.toggle.chartOrTable=='chart'}"><img src="res/img/graph.svg" /></a>
        <a class="button button-modifier no-border button-inactive btn-padding-top" ng-click="MisCtrl.toggleChartOrTableView('table')" ng-class="{'button-custom-color': MisCtrl.toggle.chartOrTable=='table'}"><img src="res/img/tabular.svg" /></a>
      </div>
    </div>
  </div>
</div>
<div ng-show="MisCtrl.toggle.chartOrTable=='chart'"> 
	<div class="row no-padding">
	  <div class="col pull-right">
		<div id="chart_legend" ng-show="MisCtrl.toggle.monthOrYear=='month'">
		  <div class="chart_legend middle" style="display: block;">{{MisCtrl.metricLegends.month[2]}}</div>
		  <div class="chart_legend to">{{MisCtrl.metricLegends.month[1]}}</div>
		  <div class="chart_legend from">{{MisCtrl.metricLegends.month[0]}}</div>
		</div>
		<div id="chart_legend" ng-show="MisCtrl.toggle.monthOrYear=='year'">
		  <div class="chart_legend to">{{MisCtrl.metricLegends.year[1]}}</div>
		  <div class="chart_legend from">{{MisCtrl.metricLegends.year[0]}}</div>
		</div>
	  </div>
	</div>
	<div class="row responsive-sm metric" ng-repeat="metric in MisCtrl.metricResult"  ng-if="$index % 3 === 0">
	  <div class="col col-33 padding-horizontal" ng-if="$index < MisCtrl.metricResult.length">
		<div class="col-demo">
		  <div class="row">
		  <div class="col col-90 no-padding pull-left graph-title">{{MisCtrl.metricResult[$index].chartName}}<i class="icon ion-ios-information-outline padding-horizontal icon-larger curs" ng-click = "MisCtrl.openinfoPopover($event, MisCtrl.metricResult[$index].chartInfo)"></i></div>
			<div class="col col-10 no-padding pull-right"><i ng-click="MisCtrl.openPopover($event, $index, 'metric')" class="icon icon-larger font-normal ion-android-open curs">
			</i></div>
		  </div>
		  <div class="row">
			<div class="col box-cont metric-modifier metricSnapshot" data-item-title="{{MisCtrl.metricResult[$index].chartName}}" data-item-flag="{{$index}}">
			<chartevent type="metric">
			  <nvd3 data="[{ values: MisCtrl.metricResult[$index].values}]" options="MisCtrl.options.metric" events="events" api="{}"></nvd3>
			  </chartevent>
			</div>
		  </div>
		  <div class="row">
			<div class="col col-50 no-padding pull-left graph-title">
			  <div ng-class="{'graph-percent-red': MisCtrl.metricResult[$index].trends[0].trend == 'down',
						'graph-percent-blue' : MisCtrl.metricResult[$index].trends[0].trend == 'up'}"> {{MisCtrl.metricResult[$index].trends[0].value}}&nbsp; <i class="icon ion-ios-arrow-thin-{{MisCtrl.metricResult[$index].trends[0].trend}} icon-larger" ng-class="{'icon-larger-red': MisCtrl.metricResult[$index].trends[0].trend == 'down',
						'icon-larger-blue' : MisCtrl.metricResult[$index].trends[0].trend == 'up'}"></i> </div>
			  <div class="graph-percent-title">{{MisCtrl.metricResult[$index].trends[0].label}}</div>
			</div>
			<div ng-show="MisCtrl.metricResult[$index].trends[1]" class="col col-50 no-padding pull-right graph-title">
			  <div ng-class="{'graph-percent-red': MisCtrl.metricResult[$index].trends[1].trend == 'down',
						'graph-percent-blue' : MisCtrl.metricResult[$index].trends[1].trend == 'up'}"> {{MisCtrl.metricResult[$index].trends[1].value}}&nbsp; <i class="icon ion-ios-arrow-thin-{{MisCtrl.metricResult[$index].trends[1].trend}} icon-larger" ng-class="{'icon-larger-red': MisCtrl.metricResult[$index].trends[1].trend == 'down',
						'icon-larger-blue' : MisCtrl.metricResult[$index].trends[1].trend == 'up'}"></i> </div>
			  <div class="graph-percent-title">{{MisCtrl.metricResult[$index].trends[1].label}}</div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="col col-33 padding-horizontal" ng-if="$index + 1 < MisCtrl.metricResult.length">
		<div class="col-demo">
		  <div class="row">
			<div class="col col-90 no-padding pull-left graph-title">{{MisCtrl.metricResult[$index + 1].chartName}}<i class="icon ion-ios-information-outline padding-horizontal icon-larger curs" ng-click = "MisCtrl.openinfoPopover($event, MisCtrl.metricResult[$index+1].chartInfo)"></i></div>
			<div class="col col-10 no-padding pull-right"><i ng-click="MisCtrl.openPopover($event,$index + 1,'metric')" class="icon icon-larger font-normal ion-android-open curs">
			</i></div>
		  </div>
		  <div class="row">
			<div class="col box-cont metric-modifier metricSnapshot" data-item-title="{{MisCtrl.metricResult[$index + 1].chartName}}" data-item-flag="{{$index+1}}">
			<chartevent type="metric">
			  <nvd3 data="[{ values: MisCtrl.metricResult[$index + 1].values}]" options="MisCtrl.options.metric" events="events" api="{}"></nvd3>
			  </chartevent>
			</div>
		  </div>
		  <div class="row">
			<div class="col col-50 no-padding pull-left graph-title">
			  <div ng-class="{'graph-percent-red': MisCtrl.metricResult[$index+1].trends[0].trend == 'down',
						'graph-percent-blue' : MisCtrl.metricResult[$index+1].trends[0].trend == 'up'}"> {{MisCtrl.metricResult[$index+1].trends[0].value}}&nbsp; <i class="icon ion-ios-arrow-thin-{{MisCtrl.metricResult[$index+1].trends[0].trend}} icon-larger" ng-class="{'icon-larger-red': MisCtrl.metricResult[$index+1].trends[0].trend == 'down',
						'icon-larger-blue' : MisCtrl.metricResult[$index+1].trends[0].trend == 'up'}"></i> </div>
			  <div class="graph-percent-title">{{MisCtrl.metricResult[$index+1].trends[0].label}}</div>
			</div>
			<div ng-show="MisCtrl.metricResult[$index+1].trends[1]" class="col col-50 no-padding pull-right graph-title">
			  <div ng-class="{'graph-percent-red': MisCtrl.metricResult[$index+1].trends[1].trend == 'down',
						'graph-percent-blue' : MisCtrl.metricResult[$index+1].trends[1].trend == 'up'}"> {{MisCtrl.metricResult[$index+1].trends[1].value}}&nbsp; <i class="icon ion-ios-arrow-thin-{{MisCtrl.metricResult[$index+1].trends[1].trend}} icon-larger" ng-class="{'icon-larger-red': MisCtrl.metricResult[$index+1].trends[1].trend == 'down',
						'icon-larger-blue' : MisCtrl.metricResult[$index+1].trends[1].trend == 'up'}"></i> </div>
			  <div class="graph-percent-title">{{MisCtrl.metricResult[$index+1].trends[1].label}}</div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="col col-33 padding-horizontal" ng-show="!MisCtrl.metricResult[$index + 1]"> </div>
	  <div class="col col-33 padding-horizontal" ng-if="$index + 2 < MisCtrl.metricResult.length">
		<div class="col-demo">
		  <div class="row">
			<div class="col col-90 no-padding pull-left graph-title">{{MisCtrl.metricResult[$index + 2].chartName}}<i class="icon ion-ios-information-outline padding-horizontal icon-larger curs" ng-click = "MisCtrl.openinfoPopover($event, MisCtrl.metricResult[$index+2].chartInfo)"></i></div>
			<div class="col col-10 no-padding pull-right"><i ng-click="MisCtrl.openPopover($event,$index + 2,'metric')" class="icon icon-larger font-normal ion-android-open curs">
			</i></div>
		  </div>
		  <div class="row">
			<div class="col box-cont metric-modifier metricSnapshot" data-item-title="{{MisCtrl.metricResult[$index +2].chartName}}" data-item-flag="{{$index+2}}">
			<chartevent type="metric">
			  <nvd3 data="[{ values: MisCtrl.metricResult[$index + 2].values}]" options="MisCtrl.options.metric" events="events" api="{}"></nvd3>
			  </chartevent>
			</div>
		  </div>
		  <div class="row">
			<div class="col col-50 no-padding pull-left graph-title">
			  <div ng-class="{'graph-percent-red': MisCtrl.metricResult[$index+2].trends[0].trend == 'down',
						'graph-percent-blue' : MisCtrl.metricResult[$index+2].trends[0].trend == 'up'}"> {{MisCtrl.metricResult[$index+2].trends[0].value}}&nbsp; <i class="icon ion-ios-arrow-thin-{{MisCtrl.metricResult[$index+2].trends[0].trend}} icon-larger" ng-class="{'icon-larger-red': MisCtrl.metricResult[$index+2].trends[0].trend == 'down',
						'icon-larger-blue' : MisCtrl.metricResult[$index+2].trends[0].trend == 'up'}"></i> </div>
			  <div class="graph-percent-title">{{MisCtrl.metricResult[$index+2].trends[0].label}}</div>
			</div>
			<div ng-show="MisCtrl.metricResult[$index+2].trends[1]" class="col col-50 no-padding pull-right graph-title">
			  <div ng-class="{'graph-percent-red': MisCtrl.metricResult[$index+2].trends[1].trend == 'down',
						'graph-percent-blue' : MisCtrl.metricResult[$index+2].trends[1].trend == 'up'}"> {{MisCtrl.metricResult[$index+2].trends[1].value}}&nbsp; <i class="icon ion-ios-arrow-thin-{{MisCtrl.metricResult[$index+2].trends[1].trend}} icon-larger" ng-class="{'icon-larger-red': MisCtrl.metricResult[$index+2].trends[1].trend == 'down',
						'icon-larger-blue' : MisCtrl.metricResult[$index+2].trends[1].trend == 'up'}"></i> </div>
			  <div class="graph-percent-title">{{MisCtrl.metricResult[$index+2].trends[1].label}}</div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="col col-33 padding-horizontal" ng-show="!MisCtrl.metricResult[$index + 2]"> </div>
	</div>
</div>
<div ng-show="MisCtrl.toggle.chartOrTable=='table'">
	<div class="gridview">
		<table class="resptbl">
			<tr class="tblhder" ng-show="MisCtrl.toggle.monthOrYear=='month'" >
				<th>KPI</th>
				<th>{{MisCtrl.metricLegends.month[0]}}</th>
				<th>{{MisCtrl.metricLegends.month[1]}}</th>
				<th>{{MisCtrl.metricLegends.month[2]}}</th>    
				<th>{{MisCtrl.metricResult[$index+1].trends[0].label}}</th>
				<th>{{MisCtrl.metricResult[$index+2].trends[1].label}}</th>
			</tr>
			<tr class="tblhder" ng-show="MisCtrl.toggle.monthOrYear=='year'" >
				<th>KPI</th>
				<th>{{MisCtrl.metricLegends.year[1]}}</th>
				<th>{{MisCtrl.metricLegends.year[0]}}</th>    
				<th>{{MisCtrl.metricResult[$index+1].trends[0].label}}</th>    
			</tr>
			<tr class="tblcol" ng-repeat="metric in MisCtrl.metricResult">
				<td data-th="KPI">{{MisCtrl.metricResult[$index].chartName}}<i class="icon ion-ios-information-outline padding-horizontal icon-larger curs" style="float:right" ng-click = "MisCtrl.openinfoPopover($event, MisCtrl.metricResult[$index].chartInfo)"></i></td>
				<td class="tblval" data-th="{{MisCtrl.metricLegends.month[0]}}">{{metric.values[0].value}}</td>
				<td class="tblval" data-th="{{MisCtrl.metricLegends.month[1]}}">{{metric.values[1].value}}</td>
				<td class="tblval" data-th="{{MisCtrl.metricLegends.month[2]}}" ng-show="MisCtrl.toggle.monthOrYear=='month'">{{metric.values[2].value}}</td>

				<td class="tblval" data-th="{{MisCtrl.metricResult[$index].trends[0].label}}" ng-class="{'graph-percent-red': MisCtrl.metricResult[$index].trends[0].trend == 'down', 'graph-percent-blue' : MisCtrl.metricResult[$index].trends[0].trend == 'up'}"> {{MisCtrl.metricResult[$index].trends[0].value}}&nbsp; <i class="icon ion-ios-arrow-thin-{{MisCtrl.metricResult[$index].trends[0].trend}} icon-larger" ng-class="{'icon-larger-red': MisCtrl.metricResult[$index].trends[0].trend == 'down',
				'icon-larger-blue' : MisCtrl.metricResult[$index].trends[0].trend == 'up'}"></i> </td>

				<td ng-show="MisCtrl.toggle.monthOrYear=='month'" class="tblval" data-th="{{MisCtrl.metricResult[$index].trends[1].label}}" ng-class="{'graph-percent-red': MisCtrl.metricResult[$index].trends[1].trend == 'down', 'graph-percent-blue' : MisCtrl.metricResult[$index].trends[1].trend == 'up'}"> {{MisCtrl.metricResult[$index].trends[1].value}}&nbsp; <i class="icon ion-ios-arrow-thin-{{MisCtrl.metricResult[$index].trends[1].trend}} icon-larger" ng-class="{'icon-larger-red': MisCtrl.metricResult[$index].trends[1].trend == 'down',
				'icon-larger-blue' : MisCtrl.metricResult[$index].trends[1].trend == 'up'}"></i></td>
			</tr>		 
		</table>
	</div>
</div>