<div class="drill-scroll-width-inner row drilldown-head drilldown-title active " ng-if="group.items[0]">
              <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10 intial-header">Route Code</div>
              <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10 intial-header">Route Type</div>
              <div ng-if="(MisCtrl.shownGroup == 1)" class="col-10 intial-header">Sector</div>
              <div ng-if="(MisCtrl.shownGroup == 2)" class="col-10 intial-header">Flight</div>
              <div ng-if="(MisCtrl.shownGroup == 3)" class="col-10 intial-header">Flight</div>
              <div ng-if="(MisCtrl.shownGroup == 0 || MisCtrl.shownGroup == 1)" class="intial-header col-10 text-right">Net Revenue <span class="ion-arrow-up-b" ng-show="!netRevenue" ng-click="netRevenue = !netRevenue;MisCtrl.sort('netRevenue',MisCtrl.shownGroup,true);"></span><span ng-show="netRevenue" ng-click="netRevenue = !netRevenue;MisCtrl.sort('netRevenue',MisCtrl.shownGroup,false)" class="ion-arrow-down-b"></span></div>
              
              <div class="col-40" >
                <div class="col text-center" >OWA</div>
                <div class="col" >
                  <div class="col-10 text-right">Gross <span class="ion-arrow-up-b" ng-show="!contribution" ng-click="contribution = !contribution;MisCtrl.sort('ownGross',MisCtrl.shownGroup,true);"></span><span ng-show="contribution" ng-click="contribution = !contribution;MisCtrl.sort('ownGross',MisCtrl.shownGroup,false)" class="ion-arrow-down-b"></span></div>
                  <div class="col-10 text-right">Discount <span class="ion-arrow-up-b" ng-show="!contribution" ng-click="contribution = !contribution;MisCtrl.sort('ownDiscount',MisCtrl.shownGroup,true);"></span><span ng-show="contribution" ng-click="contribution = !contribution;MisCtrl.sort('ownDiscount',MisCtrl.shownGroup,false)" class="ion-arrow-down-b"></span></div>
                  <div class="col-10 text-right">Commision <span class="ion-arrow-up-b" ng-show="!contribution" ng-click="contribution = !contribution;MisCtrl.sort('ownCommission',MisCtrl.shownGroup,true);"></span><span ng-show="contribution" ng-click="contribution = !contribution;MisCtrl.sort('ownCommission',MisCtrl.shownGroup,false)" class="ion-arrow-down-b"></span></div>
                  <div class="col-10 text-right">ORC <span class="ion-arrow-up-b" ng-show="!contribution" ng-click="contribution = !contribution;MisCtrl.sort('ownORC',MisCtrl.shownGroup,true);"></span><span ng-show="contribution" ng-click="contribution = !contribution;MisCtrl.sort('ownORC',MisCtrl.shownGroup,false)" class="ion-arrow-down-b"></span></div>
                </div>
              </div>
              <div class="col-40" >
                <div class="col text-center" >OAL</div>
                <div class="col" >
                  <div class="col-10 text-right">Gross <span class="ion-arrow-up-b larger" ng-show="!paxCount" ng-click="paxCount = !paxCount;MisCtrl.sort('oalGross',MisCtrl.shownGroup,true);"></span><span ng-show="paxCount" ng-click="paxCount = !paxCount;MisCtrl.sort('oalGross',MisCtrl.shownGroup,false)" class="ion-arrow-down-b larger"></span></div>
                  <div class="col-10 text-right">Commission <span class="ion-arrow-up-b larger" ng-show="!paxCount" ng-click="paxCount = !paxCount;MisCtrl.sort('oalCommission',MisCtrl.shownGroup,true);"></span><span ng-show="paxCount" ng-click="paxCount = !paxCount;MisCtrl.sort('oalCommission',MisCtrl.shownGroup,false)" class="ion-arrow-down-b larger"></span></div>
                  <div class="col-10 text-right">Discount <span class="ion-arrow-up-b larger" ng-show="!paxCount" ng-click="paxCount = !paxCount;MisCtrl.sort('oalDiscount',MisCtrl.shownGroup,true);"></span><span ng-show="paxCount" ng-click="paxCount = !paxCount;MisCtrl.sort('oalDiscount',MisCtrl.shownGroup,false)" class="ion-arrow-down-b larger"></span></div>
                  <div class="col-10 text-right">ORC <span class="ion-arrow-up-b larger" ng-show="!paxCount" ng-click="paxCount = !paxCount;MisCtrl.sort('oalORC',MisCtrl.shownGroup,true);"></span><span ng-show="paxCount" ng-click="paxCount = !paxCount;MisCtrl.sort('oalORC',MisCtrl.shownGroup,false)" class="ion-arrow-down-b larger"></span></div>
                </div>
              </div>
            </div>
            <div ng-class="{activedrill: MisCtrl.isDrillRowSelected(MisCtrl.shownGroup,item)}" class="drill-scroll-width-inner row drilldown-list" ng-repeat="item in group.ItemsByPage[MisCtrl.currentPage[MisCtrl.shownGroup]]"  ng-click="MisCtrl.openBarDrillDown(item,MisCtrl.shownGroup)">
              <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10">{{item.routeCode}}</div>
              <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10">{{item.routeType}}</div>
              <div ng-if="(MisCtrl.shownGroup == 1)" class="col-10">{{item.flownSector}}</div>
              <div ng-if="(MisCtrl.shownGroup == 2)" class="col-10">{{item.flightNumber}}</div>
              <div ng-if="(MisCtrl.shownGroup == 3)" class="col-10">{{item.flightDate}}</div>
              <div ng-if="(MisCtrl.shownGroup == 0 || MisCtrl.shownGroup == 1)" class="col-10 text-right">{{item.netRevenue}}</div>
              <div class="col-10 text-right">{{item.ownGross}}</div>
              <div class="col-10 text-right">{{item.ownDiscount}}</div>
              <div class="col-10 text-right">{{item.ownCommission}}</div>
              <div class="col-10 text-right">{{item.ownORC}}</div>
              <div class="col-10 text-right">{{item.oalGross}}</div>
              <div class="col-10 text-right">{{item.oalCommission}}</div>
              <div class="col-10 text-right">{{item.oalDiscount}}</div>
              <div class="col-10 text-right">{{item.oalORC}}</div>

            </div>