 <div class="row section-margin responsive-sm content-head revenu-analysis">
  <div class="col col-50 padding-horizontal padding-vertical metric-modifier pull-left">REVENUE ANALYSIS
  	<a href="#" ng-click="hideOptions= !hideOptions" class="hide-option">{{ hideOptions == true ? 'Hide Options' : 'Show Options' }}</a>
  </div>
  <div class="col col-50" ng-class="{'hide-options' : !hideOptions}">
    <div class="row btn-section two-buttons-only">
		<div class="pull-right padding-horizontal download-btn">
			<button class="button export" ng-click="MisCtrl.runReport('revenueAnalysis','REVENUE ANALYSIS',MisCtrl.header.flownMonth)"><img src="res/img/download.svg" />
			</button>
			<div class=" button-bar button-small padding-horizontal padding-right-zero two-buttons-only">
				<a class="button button-custom-color button-modifier no-border button-inactive btn-padding-top" ng-click="MisCtrl.toggleRevenueView('chart')" ng-class="{'button-custom-color': MisCtrl.toggle.revenueView=='chart'}"><img src="res/img/graph.svg" /></a>
				<a class="button button-modifier no-border button-inactive btn-padding-top" ng-click="MisCtrl.toggleRevenueView('table')" ng-class="{'button-custom-color': MisCtrl.toggle.revenueView=='table'}"><img src="res/img/tabular.svg" /></a>
			</div>
		</div>
    </div>
  </div>
</div>
<div class="route-rev-section">
  <div class="row section-margin responsive-sm">
	  <div class="col col-33 padding-horizontal">
		<div class="col-demo">
		  <div class="row">
			<div class="col col-90 no-padding pull-left graph-title">Net Revenue by OWN OAL <i class="icon ion-ios-information-outline padding-horizontal icon-larger curs" ng-click = "MisCtrl.openinfoPopover($event, MisCtrl.revenueData.revenueHorBarChart.chartInfo)"></i></div>
			<div class="col col-10 no-padding pull-right"><i ng-click="MisCtrl.openPopover($event,0,'revenue')" class="icon icon-larger font-normal ion-android-open curs mis-zoom" ng-show="MisCtrl.toggle.revenueView=='chart'"></i></div>
		  </div>
		  <div class="row" >
			<div class="col box-cont-rev net-rev-height" ng-show="MisCtrl.toggle.revenueView=='chart'" id="net-revenue-chart" data-item-title="Net Revenue by OWN OAL">
				<div class="net-revenue-pdf" >
			  <!-- <nvd3 data="revenueHorBarChart" options="options.revenueHorBarChart"></nvd3> -->
			  <div ng-repeat="revenueData in MisCtrl.revenueData.revenueHorBarChart">
				<div class="net-rev-title from">{{revenueData.key}}</div>
				<he-revenue-progress-bar ng-click="MisCtrl.openRevenueDrillDownPopover($event,revenueData, -1)" chart-data="revenueData.values"></he-revenue-progress-bar>           
			  </div>
			  <div class="chart-legend-rev from">Passenger</div><div class="chart-legend-rev to">Ancillary</div>
			  </div>
			</div>
			
				<table class="resptbl" ng-show="MisCtrl.toggle.revenueView=='table'">
					<tr class="tblhder">              
					<th>Passenger</th>
					<th>Ancillary</th>
					</tr>
					<tr class="tblcol" ng-repeat="revenueData in MisCtrl.revenueData.revenueHorBarChart">             
						<td data-th="Passenger">{{revenueData.values[0].value}}</td>
						<td data-th="Ancillary">{{revenueData.values[1].value}}</td>
					</tr>
				</table>
			
		  </div>                  
		</div>
	  </div>
	  <div class="col col-33 col-offset-5 padding-horizontal">
		<div class="col-demo">
		  <div class="row">
			<div class="col col-90 no-padding pull-left graph-title">
			{{MisCtrl.revenueData.revenuePieChart.chartName | limitTo : 27}}
			{{MisCtrl.revenueData.revenuePieChart.chartName.length > 27 ? '' : ''}}
			<i class="icon ion-ios-information-outline padding-horizontal icon-larger curs" ng-click = "MisCtrl.openinfoPopover($event, MisCtrl.revenueData.revenueHorBarChart.chartInfo)"></i>
			</div>
			<div class="col col-10 no-padding pull-right"><i ng-click="MisCtrl.openPopover($event,1,'revenue')" class="icon icon-larger font-normal ion-android-open curs mis-zoom" ng-show="MisCtrl.toggle.revenueView=='chart'"></i></div>
		  </div>
		  <div class="row">
			<div class="col box-cont-rev net-rev-height rev-pie-modifier revenueAnalysis" data-item-title=" {{MisCtrl.revenueData.revenuePieChart.chartName | limitTo : 27}}{{MisCtrl.revenueData.revenuePieChart.chartName.length > 27 ? '...' : ''}}" data-item-flag="2" ng-show="MisCtrl.toggle.revenueView=='chart'">
			  <!-- <nvd3 data="revenuePieChart" options="options.revenuePieChart"></nvd3> -->
			  <he-custom-pie-chart chart-height="280" chart-width="300" format-value="label-value2" chart-data="MisCtrl.revenueData.revenuePieChart.data"></he-custom-pie-chart>
			</div>
			
				<table class="resptbl" ng-show="MisCtrl.toggle.revenueView=='table'">				  
					<tr class="tblhder">              
					<th>First</th>
					<th>Business</th>
					<th>Economy</th>
					</tr>
					<tr class="tblcol">             
					<td data-th="First">{{MisCtrl.revenueData.revenuePieChart.data[0].yval}}</td>
					<td data-th="Business">{{MisCtrl.revenueData.revenuePieChart.data[1].yval}}</td>
					<td data-th="Economy">{{MisCtrl.revenueData.revenuePieChart.data[2].yval}}</td>
					</tr>
				</table>
			
		  </div>
		</div>
	  </div>
	  <div class="col col-33 col-offset-5 padding-horizontal">
		<div class="col-demo">
		  <div class="row">
			<div class="col col-90 no-padding pull-left graph-title">Passenger Count by class of Travel
			  <i class="icon ion-ios-information-outline padding-horizontal icon-larger curs" ng-click = "MisCtrl.openinfoPopover($event, MisCtrl.revenueData.revenueHorBarChart.chartInfo)"></i>
			</div>
			<div class="col col-10 no-padding pull-right"><i ng-click="MisCtrl.openPopover($event,2,'revenue')" class="icon icon-larger font-normal ion-android-open curs mis-zoom" ng-show="MisCtrl.toggle.revenueView=='chart'"></i></div>
		  </div>
		  <div class="row">
			<div class="col box-cont-rev net-rev-height rev-bar-modifier revenueAnalysis" data-item-title="Passenger Count by class of Travel" data-item-flag="3" ng-show="MisCtrl.toggle.revenueView=='chart'">
				<chartevent type="passenger-count">
			  		<nvd3 data="MisCtrl.revenueData.revenueBarChart" options="MisCtrl.options.passengerChart"></nvd3>
			  	</chartevent>
			  <div class="chart-legend-rev from">OWN</div><div class="chart-legend-rev to">OAL</div>
			</div>
			
				<table class="resptbl" ng-show="MisCtrl.toggle.revenueView=='table'">
					<tr class="tblhder">              
					<th>First</th>
					<th>Business</th>
					<th>Economy</th>
					</tr>
					<tr class="tblcol" ng-repeat="revenueData in MisCtrl.revenueData.revenueBarChart">              
					<td data-th="First">{{revenueData.values[0].value}}</td>
					<td data-th="Business">{{revenueData.values[1].value}}</td>
					<td data-th="Economy">{{revenueData.values[2].value}}</td>
					</tr>
				</table>
			
		  </div>                  
		</div>
	  </div>
  </div>  
</div>