[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rapidmob
[access "refs/for/refs/*"]
	read = group user/rapidmob
	push = group user/rapidmob
	label-Code-Review = -2..+2 group user/rapidmob
	label-Verified = -1..+1 group user/rapidmob
	rebase = group user/rapidmob
	removeReviewer = group user/rapidmob
	submit = group user/rapidmob
[access "refs/heads/*"]
	read = group user/rapidmob
	create = group user/rapidmob
	push = +force group user/rapidmob
	pushMerge = group user/rapidmob
[access "refs/tags/*"]
	push = +force group user/rapidmob
	pushTag = group user/rapidmob
	pushSignedTag = group user/rapidmob
