.tabbed-slidebox .slider {
    height: 100%;
}
.tabbed-slidebox.btm .slider {
    margin-bottom: -50px;
}
.tabbed-slidebox .slider-slides {
    width: 100%;
}

.tabbed-slidebox .slider-slide {
    padding-top: 0px;
    color: #000;
    background-color: #fafafa;
    text-align: center;
    font-weight: 300;
    /*background-color: #0398dc;*/
}

.tabbed-slidebox .tsb-icons {
    text-align: center;
    margin: 10px 0;
    position: relative;
    background-color:#fff;
}

.tabbed-slidebox .tsb-ic-wrp {
    display: flex;
    position: relative;
    -webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
    -webkit-transform:translate3d(0,0,0);
}

.tabbed-slidebox .tsb-icons a {
   /* display: inline-block;*/
    width: 54px;
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.3);
    -webkit-transform:translate3d(0,8px,0);
}

.tabbed-slidebox .tsb-icons a.active {
    color: #0a1356 !important;
    /*font-size: 3.5em;*/
    font-weight: bold;
   /* -webkit-transform:translate3d(0,0,0);*/
}

.tabbed-slidebox .tabbed-slidebox {
    position: relative;
    height: 100%;
    overflow: hidden;
}

/*.tabbed-slidebox .tsb-icons:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.4em 1.4em 1.4em;
    border-color: transparent transparent #0398dc transparent;
    position: absolute;
    content: "";
    display: block;
    bottom: -12px;
    left: 50%;
    margin-left: -14px;
}*/
.tsb-hscroll.scroll-view{
    white-space: nowrap;
    /*margin:0 auto;*/
    width: 100%;
    /*border-bottom: 3px solid #000000;*/
    text-align: left;
}
.tsb-hscroll.scroll-view .scroll-bar{
    visibility:hidden;
}
.tsb-hscroll.scroll-view .scroll.onscroll{
    -webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
}

.tabbed-slidebox .tsb-icons .scroll a{
    width:auto;
    font-size: 1.1em;
    line-height: 32px;
    text-decoration: none;
    margin: -14px 0px;
    border-bottom: 3px solid #f0f0f0;
    padding-bottom: 7px;
    padding-left: 4.5em;
    padding-right: 4.5em;
    color: #abacbf;
    padding-top: 9px;
        height: 48px;
}
.tabbed-slidebox .tsb-icons .scroll a.active {
    font-size: 1.1em;
    border-bottom: 3px solid #f5a623;
} 