<div class="drill-scroll-width-inner drill-scroll-width-revenue row drilldown-head drilldown-title active " ng-if="group.items[0]">
  <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10">Route Code</div>
  <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10">Route Type</div>
  <div ng-if="(MisCtrl.shownGroup == 1)" class="col-10">Sector</div>
  <div ng-if="(MisCtrl.shownGroup == 2)" class="col-10">Flight Number</div>
  <div ng-if="(MisCtrl.shownGroup == 3)" class="col-10">Flight Date</div>
  <div class="col-10 text-right">Adult </div>
      <div class="col-10 text-right">Child</div>
      <div class="col-10 text-right">Infant</div>
</div>
<div ng-class="{activedrill: MisCtrl.isDrillRowSelected(MisCtrl.shownGroup,item)}" class="drill-scroll-width-inner drill-scroll-width-revenue row drilldown-list" ng-repeat="item in group.ItemsByPage[MisCtrl.currentPage[MisCtrl.shownGroup]]"  ng-click="MisCtrl.openBarDrillDown(item,MisCtrl.shownGroup)">
  <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10">{{item.routeCode}}</div>
  <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10">{{item.routeType}}</div>
  <div ng-if="(MisCtrl.shownGroup == 1)" class="col-10">{{item.flownSector}}</div>
  <div ng-if="(MisCtrl.shownGroup == 2)" class="col-10">{{item.flightNumber}}</div>
  <div ng-if="(MisCtrl.shownGroup == 3)" class="col-10">{{item.flightDate}}</div>

  <div class="col-10 text-right">{{item.adultCnt}}</div>
  <div class="col-10 text-right">{{item.childCnt}}</div>
  <div class="col-10 text-right">{{item.infantCnt}}</div>

</div>
