 <ion-popover-view class="graphpopover bar-popover-cust">
    <ion-content>
      <div id="operational-popover-content">
          
          <div ng-if="OprCtrl.charttype == 'weekdata'">
               <div class="row">
                  <div class="col-90">
                        <div ng-if = "OprCtrl.graphType == 'flight-proc-status'">
                           <h2 class="graph-title pop-title padding-left">{{OprCtrl.flightProcSection}}
                           </h2>
                        </div>
                        <div ng-if = "OprCtrl.graphType == 'flight-count-reason'">
                            <h2 class="graph-title pop-title padding-left">{{OprCtrl.flightCountSection}}
                           </h2>
                        </div>
                        <div ng-if = "OprCtrl.graphType == 'cc-exception-category'">
                            <h2 class="graph-title pop-title padding-left">{{OprCtrl.couponCountSection}}
                           </h2>
                        </div>     
                  </div>
                  <div class="col-10 popup-close padding-right" ng-click="OprCtrl.closePopover()"><i class="icon ion-close icon-larger"></i></div>
               </div>
               <div class="row no-padding">
                  <div class="col col-20 padding-left pull-left graph-title">
                      Week Data
                    </div>
                    <div class="col col-80 pull-right"> 
                <div ng-show="OprCtrl.graphType == 'flight-proc-status'">
                  <div  ng-repeat="legend in OprCtrl.flightProcLegends">
                  <div class="chart_legend fp-legend-{{$index}}">{{legend}}</div>                
                </div>
                </div>
               <!--  <div id="chart-legend-operation" ng-show="OprCtrl.graphType == 'flight-count-reason'">
                  <div class="chart_legend not-received">Interface</div>
                  <div class="chart_legend open">Live not Processed</div>
                  <div class="chart_legend closed">Processed with Exception</div>
                </div> -->
                <div ng-show="OprCtrl.graphType == 'flight-count-reason'">
               <div ng-show="OprCtrl.toggle.openOrClosed=='OPEN'" ng-repeat = "legend in OprCtrl.flightReasonLegends.open">
                  <div class="chart_legend fp-legend-{{$index+1}}">{{legend}}</div>
                 </div>
                <div ng-show="OprCtrl.toggle.openOrClosed=='CLOSED'" ng-repeat = "legend in OprCtrl.flightReasonLegends.closed">
                  <div class="chart_legend fp-legend-{{$index+1}}">{{legend}}</div>
                 </div>
                </div>
                
                <div ng-show="OprCtrl.graphType == 'cc-exception-category'">
                  <div  ng-repeat="legend in OprCtrl.flightCouponLegends">
                    <div class="chart_legend fp-legend-{{$index+1}}">{{legend}}</div>                
                  </div>
                </div>
              </div>
                </div>
               <div class="row">
                <div class="col box-cont">
                  <div ng-if="OprCtrl.graphType == 'flight-proc-status'">
                    <div ng-repeat="weekdata in OprCtrl.flightProcStatus.weekData" ng-if="$index == OprCtrl.currentIndex">
                    <div class="row">
                      <div class="col col-80 weekdata-zoom-margin">
                      <div  class="flightprocessStatus four-bar-pop weekdata-popover-padding" data-item-title="Month Data">
                      <nvd3-discrete-bar-chart
                          data="[weekdata]"                              
                          tooltips="true"
                          showXAxis="false"
                          showYAxis="false"
                          showValues="true"
                          height="280"
                          color="OprCtrl.fourBarColorFunction()"
                          valueFormat="OprCtrl.valueFormatFunction()"
                          width="340">
                        <svg></svg>
                      </nvd3-discrete-bar-chart>
                      <p class="graph-title-bottom text-center">{{weekdata.key}}</p>
                      </div>
                      <p class="pull-right graph-title-percent">{{weekdata.closedPercent}}<br/><span class="graph-title-percent">Close%</span></p>
                      </div>                    
                      </div>
                    </div>
                  </div>
                  <div ng-if="OprCtrl.graphType == 'flight-count-reason'">
                    <div ng-repeat="weekData in OprCtrl.flightCountReason.weekData" ng-if="$index == OprCtrl.currentIndex">
                    <div class="row">
                     <div class="col col-80 weekdata-zoom-margin">
                      <div class="openflightcountbyreason three-bar weekdata-popover-padding" data-item-title="Month Data" data-item-flag="{{$index+2}}">
                        <nvd3-discrete-bar-chart
                              data="[weekData]"                              
                              tooltips="true"
                              showXAxis="false"
                              showYAxis="false"
                              showValues="true"
                              color="OprCtrl.colorFunction()"
                              valueFormat="OprCtrl.valueFormatFunction()"
                              height="280"
                              width="300">
                          <svg></svg>
                        </nvd3-discrete-bar-chart>
                        <p class="graph-title-bottom text-center">{{weekData.key}}</p>
                        </div>
                        <p class="pull-right weekdata-zoom-perecent-margin">{{weekData.closedPercent}}</p>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div ng-if="OprCtrl.graphType == 'cc-exception-category'">
                    <div ng-repeat="weekData in OprCtrl.couponCountException.weekData" ng-if="$index == OprCtrl.currentIndex">
                    <div class="row">
                      <div class="col col-80 weekdata-zoom-margin">
                        <div class="couponcountbyexceptioncategory three-bar weekdata-popover-padding" data-item-title="Month Data" data-item-flag="{{$index+2}}">
                        <nvd3-discrete-bar-chart
                              data="[weekData]"                             
                              tooltips="true"
                              showXAxis="false"
                              showYAxis="false"
                              showValues="true"
                              color="OprCtrl.colorFunction()"
                              valueFormat="OprCtrl.valueFormatFunction()"
                              height="280"
                              width="300">
                          <svg></svg>
                        </nvd3-discrete-bar-chart>
                        <p class="graph-title-bottom text-center">{{weekData.key}}</p>
                        </div>
                        <p class="graph-title-bottom weekdata-zoom-perecent-margin">{{weekData.closedPercent}}</p>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
          </div>

          <div ng-if="OprCtrl.charttype == 'daydata'">
               <div class="row">
                  <div class="col-90">
                       <div ng-if = "OprCtrl.graphType == 'flight-proc-status'">
                           <h2 class="graph-title pop-title padding-left">{{OprCtrl.flightProcSection}}
                           </h2>
                        </div>
                        <div ng-if = "OprCtrl.graphType == 'flight-count-reason'">
                            <h2 class="graph-title pop-title padding-left">{{OprCtrl.flightCountSection}}
                           </h2>
                        </div>
                        <div ng-if = "OprCtrl.graphType == 'cc-exception-category'">
                            <h2 class="graph-title pop-title padding-left">{{OprCtrl.couponCountSection}}
                           </h2>
                        </div>     
                  </div>
                  <div class="col-10 popup-close padding-right" ng-click="OprCtrl.closePopover()"><i class="icon ion-close icon-larger"></i></div>
               </div>
                <div class="row no-padding responsive-sm" >
                <div class="col col-20 padding-left pull-left graph-title">
                           Day Data
                </div>
              <div class="col col-80 pull-right">
                <div  ng-show="OprCtrl.graphType == 'flight-proc-status'">
                  <div  ng-repeat="legend in OprCtrl.flightProcLegends">
                  <div class="chart_legend fp-legend-{{$index}}">{{legend}}</div>                
                </div>
                </div>
                <div ng-show="OprCtrl.graphType == 'flight-count-reason'">
                 <div ng-show="OprCtrl.toggle.openOrClosed=='OPEN'" ng-repeat = "legend in OprCtrl.flightReasonLegends.open">
                  <div class="chart_legend fp-legend-{{$index+1}}">{{legend}}</div>
                 </div>
                <div ng-show="OprCtrl.toggle.openOrClosed=='CLOSED'" ng-repeat = "legend in OprCtrl.flightReasonLegends.closed">
                  <div class="chart_legend fp-legend-{{$index+1}}">{{legend}}</div>
                 </div>
                </div>
                <div  ng-show="OprCtrl.graphType == 'cc-exception-category'">
                   <div  ng-repeat="legend in OprCtrl.flightCouponLegends">
                    <div class="chart_legend fp-legend-{{$index+1}}">{{legend}}</div>
                                  
                  </div>
                </div>
              </div>
            </div>
               
               <div class="row no-padding">    
                   <div class="col no-padding pull-left graph-title flightprocessStatus day-padding" data-item-title="Day Data" data-item-flag="6">
                         
                         <div ng-if = "OprCtrl.graphType == 'flight-proc-status'">
                          <nvd3-multi-bar-chart                         
                          data="OprCtrl.flightProcStatus.stackedChart" 
                          color="OprCtrl.fourBarColorFunction()"                        
                          showXAxis="true"
                          showYAxis="true"
                          height="300"
                          stacked="true"
                          tooltips="true"
                          staggerLabels="true"
                          interactive="true"
                          useInteractiveGuideline="true"
                          xAxisLabel="Day"
                          yAxisTickFormat="OprCtrl.yAxisTickFormatFunction()"
                          yAxisLabel="Open Flights Count">
                          <svg></svg></nvd3-multi-bar-chart> </div>

                          <div ng-if = "OprCtrl.graphType == 'flight-count-reason'">
                          <nvd3-multi-bar-chart                          
                          data="OprCtrl.flightCountReason.stackedChart"
                          color="OprCtrl.colorFunction()"                     
                          showXAxis="true"
                          showYAxis="true"
                          height="300"
                          stacked="true"
                          tooltips="true"
                          staggerLabels="true"
                          interactive="true"
                          useInteractiveGuideline="true"
                          xAxisLabel="Day"
                          yAxisTickFormat="OprCtrl.yAxisTickFormatFunction()"
                          yAxisLabel="Open Flights Count"
                          <svg></svg></nvd3-multi-bar-chart></div>

                          <div ng-if = "OprCtrl.graphType == 'cc-exception-category'">
                          <nvd3-multi-bar-chart
                          data="OprCtrl.couponCountException.stackedChart"
                          color="OprCtrl.colorFunction()"                        
                          showXAxis="true"
                          showYAxis="true"
                          height="300"
                          stacked="true"
                          tooltips="true"
                          staggerLabels="true"
                          interactive="true"
                          useInteractiveGuideline="true"
                          xAxisLabel="Day"
                          yAxisTickFormat="OprCtrl.yAxisTickFormatFunction()"
                          yAxisLabel="Open Flights Count"
                          <svg></svg></nvd3-multi-bar-chart> </div>
                    </div>  
                </div>
          </div>
        </div>
    </ion-content>
 </ion-popover-view>