<div class="row " ng-if="group.items[0].length >=0 ">
  <div class="col-33 search-results"> Showing {{group.ItemsByPage[OprCtrl.currentPage[OprCtrl.shownGroup]].length}} out of {{group.items[0].length}} results </div>
  <div class="col-33 "> <span class="ion-android-search search-icon"></span>
    <input type="text" name="searchText" class="drill-search col col-100" ng-model="searchText" placeholder="Search"  ng-change="OprCtrl.searchResults($index,this)">
    <div ng-click="searchText = ''" ng-show="searchText" class="search-close"><i class="icon ion-close placeholder-icon"></i></div>
  </div>
  <div class="col-33">
    <ul class="pagination pagination-sm">
      <li ng-repeat="n in OprCtrl.range(group.ItemsByPage.length,OprCtrl.shownGroup)"> <a href="#" ng-click="OprCtrl.setPage(OprCtrl.shownGroup,n)" ng-class="{'active': OprCtrl.currentPage[OprCtrl.shownGroup] ==n}" ng-bind="n+1">1</a> </li>
    </ul>
  </div>
</div>
<div class="row drilldown-list " ng-if="!group.items[0].length"> No Records Available </div>
<div class="drill-scroll-section drill-scroll-width" ng-if="group.items[0].length">
  <div ng-if="OprCtrl.drillType == 'flight-process'"  ng-include="'components/operational/flown/flight-process-drill.html'"></div>
  <div ng-if="OprCtrl.drillType == 'coupon-count'"  ng-include="'components/operational/flown/coupon-count-drill.html'"></div>
  <div ng-if="OprCtrl.drillType == 'flight-count'"  ng-include="'components/operational/flown/flight-count-drill.html'"></div>
</div>
