<ion-item class="item-accordion drilldown-content no-margin-top"
          ng-class="{'drilldown-content-active': OprCtrl.isGroupShown(group.id), 'drilldown-content-inactive': !OprCtrl.isGroupShown(group.id)}" ng-show="OprCtrl.isGroupShown(group.id)">
  <tab-slide-box tab="0" popup="yes">
    <div class="tsb-icons no-margin">
      <div class="tsb-ic-wrp">
        <ion-scroll direction="x" class="tsb-hscroll" id="tab-drill">
          <div class="no-padding"> 
          <a href="" ng-class="{'drill-tab-closed': OprCtrl.toggle.openOrClosed == 'CLOSED'}" class="drill-tab tab text-center text-center"  on-finish-render=""><span ng-if="OprCtrl.toggle.openOrClosed == 'OPEN'" >Flight in Interface</span><span ng-if="OprCtrl.toggle.openOrClosed == 'CLOSED'" >Flights Balanced</span></a> 
          <a href="" ng-class="{'drill-tab-closed': OprCtrl.toggle.openOrClosed == 'CLOSED'}"  class="drill-tab tab text-center text-center"  on-finish-render=""><span ng-if="OprCtrl.toggle.openOrClosed == 'OPEN'">Flight not yet Processed</span><span ng-if="OprCtrl.toggle.openOrClosed == 'CLOSED'" >Flights Un-Balanced </span></a> 
          <a href="" ng-show="OprCtrl.toggle.openOrClosed == 'OPEN'" class="drill-tab tab text-center text-center"  on-finish-render=""><span>Flight Processed with Exception</span></a> 

          
          </div>
        </ion-scroll>
      </div>
    </div>
    <ion-slide-box  class="tab-slide" show-pager="false" ng-init="OprCtrl.tabLockSlide('flightTabSlide')" delegate-handle="flightTabSlide" on-slide-changed="slideHasChanged($index);OprCtrl.tabSlideHasChanged($index)">
      <ion-slide  class="tab-ion-slide">
       
        <div ng-include="'components/operational/flown/drill-list.html'"></div>
       
      </ion-slide>
      <ion-slide class="tab-ion-slide">
        
           <div ng-include="'components/operational/flown/drill-list.html'"></div>
        
      </ion-slide>
      <ion-slide class="tab-ion-slide" ng-if="OprCtrl.toggle.openOrClosed == 'OPEN'">
        
        <div  ng-include="'components/operational/flown/drill-list.html'"></div>
        
      </ion-slide>
      
    </ion-slide-box>
  </tab-slide-box>
</ion-item>
