<div class="row section-margin responsive-sm content-head">
              <div class="col col-50 padding-horizontal padding-vertical metric-modifier pull-left">
              {{OprCtrl.toggle.openOrClosed}} FLIGHT COUNT BY REASON <i class="icon ion-ios-information-outline padding-horizontal icon-align curs " ng-click = "OprCtrl.openinfoPopover($event, OprCtrl.flightCountSection)"></i></div>
              <div class="col col-50">
                <div class="row btn-section responsive-sm">
                <div class="pull-right padding-horizontal download-btn"><button class="button export" ng-click="OprCtrl.runReport('openflightcountbyreason','OPEN FLIGHT COUNT BY REASON',OprCtrl.header.flownMonth)"><img src="res/img/download.svg"></button></div>
                <div class="button-bar button-small padding-horizontal padding-right">
                <a class="button button-custom-color button-modifier no-border button-inactive btn-padding-top" ng-class="{'button-custom-color': OprCtrl.toggle.openOrClosed=='OPEN'}" ng-click="OprCtrl.toggleCount('OPEN')">Open</a>
                <a class="button button-modifier no-border button-inactive btn-padding-top" ng-class="{'button-custom-color': OprCtrl.toggle.openOrClosed=='CLOSED'}" ng-click="OprCtrl.toggleCount('CLOSED')">Closed</a>
                </div>
                <div class="button-bar button-small button-energized padding-horizontal padding-right-zero">
					<a class="button button-custom-color button-modifier no-border button-inactive btn-padding-top" ng-click="OprCtrl.toggleChartOrTableView('chart')" ng-class="{'button-custom-color': OprCtrl.toggle.chartOrTable=='chart'}"><img src="res/img/graph.svg" /></a>
					<a class="button button-modifier no-border button-inactive btn-padding-top" ng-click="OprCtrl.toggleChartOrTableView('table')" ng-class="{'button-custom-color': OprCtrl.toggle.chartOrTable=='table'}"><img src="res/img/tabular.svg" /></a>
                </div>
                </div>
              </div>
            </div>
            <div class="row no-padding">
              <div class="col pull-right">
                <div id="chart-legend-operation">
                  <div class="chart_legend closed">Processed with Exception</div>
                  <div class="chart_legend open">Live not Processed</div>
                  <div class="chart_legend not-received">Interface</div>
                </div>
              </div>
            </div>
            <div class="row section-margin responsive-sm metric">
              <div ng-show="OprCtrl.flightCountReason.pieChart !== undefined" class="col col-50 padding-horizontal">
                <div class="col-demo">
                  <div class="row">
                    <div class="col no-padding pull-left graph-title">
                      Month Data
                    </div>        
                  </div>
                  <div class="row">
                    <div class="col box-cont monthdata-modifier openflightcountbyreason" data-item-title="Month Data" data-item-flag="1" ng-show="OprCtrl.toggle.chartOrTable=='chart'">
                        <he-custom-pie-chart chart-height="350" chart-width="330" chart-data="OprCtrl.flightCountReason.pieChart.data"></he-custom-pie-chart>
                    </div>
					<div class="reventbl" ng-show="OprCtrl.toggle.chartOrTable=='table'">
					  <table class="resptbl">					  
						<tr class="tblhder">              
						<th>Interface</th>
						<th>Live not processed</th>
						<th>Processed with Exception</th>
						</tr>
						<tr class="tblcol">             
						<td data-th="First">{{OprCtrl.flightCountReason.pieChart.data[0].yval}}</td>
						<td data-th="Business">{{OprCtrl.flightCountReason.pieChart.data[1].yval}}</td>
						<td data-th="Economy">{{OprCtrl.flightCountReason.pieChart.data[2].yval}}</td>
						</tr>
					  </table>
					</div>
                  </div>   
                  <div class="row">
                    <div class="col margin-top10 text-center">
                      <span class="graph-title-bottom">Expected : </span><span class="graph-title-bottom-value">
                      {{OprCtrl.flightCountReason.pieChart.pieChartFooter[0].value}} (100%)</span>
                    </div>        
                  </div>   
                </div>
              </div>
              <div class="col col-50 padding-horizontal">

      <div class="col-demo" ng-hide="OprCtrl.flightCountReason.weekData.length==0">
        <div class="row">
          <div class="col no-padding pull-left graph-title">
            Week Data
          </div>        
        </div>
        <div class="row">
          <div class="col box-cont bg-white"  ng-show="OprCtrl.toggle.chartOrTable=='chart'">
              <ion-slide-box show-pager="false" direction="y" does-continue="true" delegate-handle="oprfWeekData">
                    <ion-slide ng-repeat="weekData in OprCtrl.flightCountReason.weekData">
                    <div class="row">
                      <div class="col col-10 arrow-middle" ng-click="OprCtrl.weekDataPrev()"><i class="ion-chevron-left"></i></div>
                      <div class="col col-80">
                        <div class="openflightcountbyreason three-bar" data-item-title="Month Data" data-item-flag="{{$index+2}}">
                        <nvd3-discrete-bar-chart
                              data="[weekData]"                              
                              tooltips="true"
                              showXAxis="false"
                              showYAxis="false"
                              showValues="true"
                              color="OprCtrl.colorFunction()"
                              height="280"
                              width="300">
                          <svg></svg>
                        </nvd3-discrete-bar-chart>
                        <p class="graph-title-bottom">{{weekData.key}}</p>
                        </div>
                        <p class="pull-right">{{weekData.closedPercent}}</p>
                      </div>
                      
                      <div class="col col-10 arrow-middle" ng-click="OprCtrl.weekDataNext()"><i class="ion-chevron-right"></i></div>
                      </div>
                    </ion-slide>
                  </ion-slide-box>
          </div>
		  <div class="reventbl" ng-show="OprCtrl.toggle.chartOrTable=='table'">
				<table class="resptbl">					  
				<tr class="tblhder">  
					<th></th>
					<th>Interface</th>
					<th>Live not processed</th>
					<th>Processed with Exception</th>
				</tr>
				<tr class="tblcol" ng-repeat="weekData in OprCtrl.flightCountReason.weekData">   
					<td>{{weekData.key}}</td>
					<td>{{weekData.values[0][1]}}</td>
					<td>{{weekData.values[1][1]}}</td>
					<td>{{weekData.values[2][1]}}</td>								
				</tr>
			  </table>
			</div>
        </div>   
      </div>
    </div>
              </div>
          
            <div class="row" ng-hide="OprCtrl.flightCountReason.stackedChart.length==0">
            <div class="col padding-horizontal">
                  <div class="col-demo">
                      <div class="row">
                        <div class="col no-padding pull-left graph-title openflightcountbyreason" data-item-title="Day Data" data-item-flag="6" ng-show="OprCtrl.toggle.chartOrTable=='chart'">
                          Day Data
                          <nvd3-multi-bar-chart                          
                          data="OprCtrl.flightCountReason.stackedChart.stackedBarchartItems"                         
                          showXAxis="true"
                          showYAxis="true"
                          height="300"
                          stacked="true"
                          tooltips="true"
                          staggerLabels="true"
                          interactive="true"
                          useInteractiveGuideline="true"
                          xAxisLabel="Day" 
                          yAxisLabel="Open Flights Count"
                          <svg></svg></nvd3-multi-bar-chart>
                        </div> 
						<div ng-show="OprCtrl.toggle.chartOrTable=='table'">
						  <table class="resptbl">								
							<tr class="tblhder">
								<th>Day</th>
								<th ng-repeat="DayData in OprCtrl.flightCountReason.stackedChart.stackedBarchartItems[0].values" ng-if="$index < 15">{{DayData[0]}}</th>
							</tr>
							<tr class="tblcol" ng-repeat="DayData in OprCtrl.flightCountReason.stackedChart.stackedBarchartItems">   
								<td>{{DayData.key}}</td>
								<td ng-repeat="day in DayData.values" ng-if="$index < 15">{{day[1]}}</td>								
							</tr>
						  </table>
						  <table class="resptbl">								
							<tr class="tblhder">
								<th>Day</th>
								<th ng-repeat="DayData in OprCtrl.flightCountReason.stackedChart.stackedBarchartItems[0].values" ng-if="$index >= 15">{{DayData[0]}}</th>
							</tr>
							<tr class="tblcol" ng-repeat="DayData in OprCtrl.flightCountReason.stackedChart.stackedBarchartItems">   
								<td>{{DayData.key}}</td>
								<td ng-repeat="day in DayData.values" ng-if="$index >= 15">{{day[1]}}</td>								
							</tr>
						  </table>
						</div>
                      </div>
                  </div>
              </div>
            </div>
            
      <div class="clear"></div>
      <h1>&nbsp;</h1>