.tabbed-slidebox-padding{
    @include padding-horizontal(7em, 7em);
}
.content-head{
    .metric-modifier{
        .icon-align:before{
            font-size: 24px;
            vertical-align: middle;
        }
    }


}
.chart_legend.fp-legend-0:before {
    border: 7px solid $chart-legend-one;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.chart_legend.fp-legend-1:before {
    border: 7px solid $chart-legend-two;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.chart_legend.fp-legend-2:before {
    border: 7px solid $chart-legend-three;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.chart_legend.fp-legend-3:before {
    border: 7px solid $chart-legend-four;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.align-weekdata {
    margin-left: 30% !important;
    height : 280px;
    .graph-title-bottom
    {
        margin-left: -45%;
    }
}
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px){
    .closed-percentage{
        margin-right: -2em;
    }
    .arrow-middle{
        display: -webkit-box;
        vertical-align: middle;
        line-height: 230px;
    }
    .arrow-middle{
        .ion-chevron-left:before{
            font-size: 30px;        
            opacity: 0.3 !important;
        }
        .ion-chevron-right:before{
            font-size: 30px;
            padding-left: 15px;
            opacity: 0.3 !important;
        }
    }
    .weekdata-modifier{
       /* p{
            font-size: 18px !important;
            font-weight: bold !important;
            margin-right: -20px !important; 
            margin-top: -8px;
        }*/
        .row{
            .col-80{

            }
        }
    } 
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
    .arrow-middle{
        margin: auto;
        display: inline-block;

            .ion-chevron-right:before{
                padding-left: 0px;
            }
    }
    .three-bar{
        margin: 0px auto 0px -30px !important;
    }
    .four-bar {
        width: 350px !important;
        /*margin: -1em -3em 0 !important;*/
        margin: 0px auto 0 -50px !important;
    }  
    .four-bar-pop, .three-bar-pop{
        width: 360px;
        margin: auto !important; 
    }  
    .monthdata-padding {
        padding: 0 7%;  
    }
    .weekdata-popover-padding{
        padding-left: 31px;
    }
    .align-weekdata {
        margin-left: 15% !important;
        .graph-title-bottom
        {
            margin-left: -15%;
        }
    } 
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
    .arrow-middle{
        margin-top: 9%;
    }
    .three-bar{
        margin: 0px auto !important;
    }
    .four-bar, .four-bar-pop{
        width: 340px;
        margin: 0px auto 0px -30px !important;
    }
    .four-bar-pop {        
        margin: 0px auto !important;
    }
    .tab-cust{
        @include padding-horizontal(45px, 45px);
    }
    .monthdata-padding {
        padding: 0 17%;  
    }
    .align-weekdata {
        margin-left: 20% !important;
        .graph-title-bottom
        {
            margin-left: -28%;
        }
    }
}
.capitalize{
    text-transform: capitalize;
}
.three-bar{
    width:300px;
    margin:0 auto;
    height: 300px;    
}
.four-bar{
    width:400px;
    margin: 0px auto;
    height: 300px;
}
.four-bar-pop{
    width:354px;
    margin:0 auto; 
}
.graph-title-2{
    font-size: 1.3em;
    color: $title-color;
    font-weight: bold;
    font-family: helvetica;
}
.margin-top10{
    margin-top: -3em;
}
.arrow-middle{
    .ion-chevron-left:before{
        font-size: 30px;        
        opacity: 0.3 !important;
    }
    .ion-chevron-right:before{
        font-size: 30px;
        opacity: 0.3 !important;
    }
    .disable-icon{
        opacity: 0.2;
    }
}
.weekdata-popover-padding{
    padding-left: 0px;
}
.three-bar, .four-bar{ 
    svg{
        text{
            font-size: 14px !important;
        }
    }
}
.bg-white{
    .row{
        background-color: $light !important;
        height: 360px;
    }
}
.no-margin-top{
    margin-top:0 !important;
}
#tab-drill .scroll{
    border: 0 !important;
    box-shadow: none !important;
}
.drill-tab{
    @include padding-horizontal(2.5em, 2.5em);
    padding-bottom: 3px !important;
    line-height: 0!important;
    font: 0.9em;  
}
.drill-tab-closed{ 
    @include padding-horizontal(6em, 6em);
}
#tab-drill a.active{
    font: 0.9em !important;  
}
.tab-slide{
    margin-top: 10px;
}
.tab-ion-slide{
    text-align: left !important;
}
@media only screen  and (min-width: 1025px) {
    .metric{
        .monthdata-modifier{
            padding: 0 22%;
            min-height: 370px;
            max-height: 370px;
        }
        .weekdata-modifier{
            min-height: 370px;
            max-height: 370px;
        }
    }
    .arrow-middle{
        display: -webkit-box;
        vertical-align: middle;
        line-height: 347px;
        .ion-chevron-left:before{
            font-size: 30px;
            opacity: 0.3 !important;
        }
        .ion-chevron-right:before{
            font-size: 30px;
            padding-left: 43px;
            opacity: 0.3 !important;
        }
    }
    .tab-cust{
        @include padding-horizontal(7.5em, 7.5em);      
    }
    .monthdata-padding {
        padding: 0 30%;
    }
}
.weekdata-zoom-perecent-margin {
    margin-top: -30px;
}
.weekdata-zoom-margin {
     /*  margin-left: 5%; */
   margin: 0px auto;
   padding:0px;
}

.graph-title-bottom{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0;
}
.graph-title-percent{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: normal;
    margin: 0;
}
.graph-margin-right{
    margin-right: -30px;
}
.graph-title-bottom-value{
    font-size: 18px;
    text-transform: capitalize;
    font-weight:bold;
    color: $graph-title-bottom-color;
}
.graphpopover .popup-close
{
    padding: 0px 17px 0px 0px;
    margin: 0px 0px 0px 15px;
}
 .opr-zoom, .mis-zoom
 {
    padding: 0px 15px;
    margin: 0px -10px;
}
.opr-cont-height .col-demo
{
    min-height: 420px;
}
.fcReasonFlag, .ccExceptionFlag, .fpStatusFlag, .day-padding{ 
    svg{
        height: 320px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px){
    .arrow-middle{
        display:inline-block;
        margin:auto;


        .ion-chevron-left:before{
            font-size: 30px;        
            opacity: 0.3 !important;
            margin-left: -20px;
        }
        .ion-chevron-right:before{
            font-size: 30px;
            opacity: 0.3 !important;
            margin-right: -20px;
        }
        .disable-icon{
            opacity: 0.2;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait) { 
    .weekdata-modifier {
        .col-10 {
            max-width: 0px;
            display: inline-block;
            margin: auto;
        }
    }
    .four-bar {
        width: 280px;
        margin: 0px auto;

        svg{
            margin: 0px;
            text{
                font-size: 11px !important;
            }
        }
    }
    .three-bar {
        margin: 0px auto;
        width: 270px;
        svg {
            margin-left: -25px;
        }
    }
    .arrow-middle{        




        .ion-chevron-left:before{
            margin-left: 0 !important;
        }
        .ion-chevron-right:before{
            margin-left: -35px;             
        }
    }
    .graph-title-percent {
        padding-right: 35px;
        span {
            padding-right: 0;
        }
    }
    .chart_legend {
        padding-left: 10px !important;
        font-size: 12px !important; 

    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape) { 
    .four-bar {
        width: 310px;
        margin: 0 auto 0 -45px;
        svg{
            margin-left: 0px;
        }
    }
    .three-bar {
        margin:0 auto 0 -40px; 
        svg {
            margin-left: 0px;
            height: 270px;
        }
    }
}
.legendcolor 
{
    display: inline-block;
}
.metric{
    .col-50 {
        -webkit-box-flex: 1 !important;
    }
}