<ion-view>
  <ion-nav-title >
    <div class="row">
      <div class="col pull-left header-logo"><img src="res/img/logo.png" alt="" ></div>
      <div class="col no-padding line-height-10 text-center">
        <div class="pas-head-title">Passenger Flown</div>
        <div class="pas-head-subtitle">Month:
          <label>
          <select class="selectmonth" ng-change="OprCtrl.updateHeader()" ng-model="OprCtrl.header.flownMonth">
             <option ng-repeat="month in OprCtrl.subHeader.paxFlownOprMonths.values" ng-selected="OprCtrl.selectedFlownMonth(month)" value="{{month}}">{{month}}</option>
          </select>
          <i class="icon ion-chevron-down move-left"></i></label>
        </div>
      </div>
      <div class="col no-padding user-info">
        <div class="last-login">Last refreshed: {{OprCtrl.subHeader.lastRefresh}}</div>
        <div class="profile-name">
          <!--Blaine Cooper &#9662;-->
          <div class="dropdown"> <span class="dropbtn">{{ OprCtrl.getProfileUserName() }}&nbsp;<i class="icon ion-chevron-down" ></i></span>
          </div>
        </div>
        <div class="profile-img"><img ng-src="res/img/profile.jpg" class="img-circle" alt="" ></div>
      </div>
    </div>
  </ion-nav-title>
  <div>
    <div class="row border-bottom header-padding">
      <div class="col no-padding padding-horizontal cust-font" 
          ng-repeat="flightCnt in OprCtrl.subHeader.openFlightCount.values">
          {{flightCnt.label}} 
          <span class="heade2-values">{{flightCnt.value}} </span>
      </div>
    </div>
  </div>
  <ion-content>
    <tab-slide-box tab="0">
      <div class="tsb-icons no-margin">
          <div class="tsb-ic-wrp">
          <ion-scroll direction="x" class="tsb-hscroll" id="tab-id">
          <div class="no-padding">
              <a href="" class="tab text-center text-center tab-cust"  ng-repeat="tab in OprCtrl.tabs" on-finish-render=""><span>{{tab.title}}</span></a></a>
            </div>
          </ion-scroll>
        </div>
        </div>      
      <ion-slide-box show-pager="false" delegate-handle="oprfTabSlide" on-slide-changed="slideHasChanged($index)">
        <ion-slide >
          <ion-scroll style="height:100%">
            <div ng-include="'components/operational/flown/flight-proc-status.html'"></div>      			  
            <div ng-include="'components/operational/flown/flight-count-reason.html'"></div>
            <div ng-include="'components/operational/flown/cc-exception-category.html'"></div>
            <h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1>
          </ion-scroll>
        </ion-slide>
        <ion-slide>
          <ion-scroll style="height:100%">
            <div ng-include="'components/operational/flown/flight-proc-status.html'"></div>
            <h1>&nbsp;</h1><h1>&nbsp;</h1>
          </ion-scroll>
        </ion-slide> 
        <ion-slide>
          <ion-scroll class="scroll-height">
          	  <div ng-include="'components/operational/flown/flight-count-reason.html'"></div>
              <h1>&nbsp;</h1><h1>&nbsp;</h1> 
          </ion-scroll>
        </ion-slide> 
        <ion-slide>
          <ion-scroll class="scroll-height">
             <div ng-include="'components/operational/flown/cc-exception-category.html'"></div>
             <h1>&nbsp;</h1><h1>&nbsp;</h1>
          </ion-scroll>
        </ion-slide> 
        </ion-slide-box>
    </tab-slide-box>
    <h1>&nbsp;</h1><h1>&nbsp;</h1>
  <canvas style="display:none" id="canvas"></canvas>
  </ion-content>
</ion-view>