 <ion-popover-view class="graphpopover">
    <ion-content>
      <div id="operational-popover-content">
          <div ng-if="OprCtrl.charttype == 'monthdata'">
            <div class="row">
              <div class="col-90">
                <div ng-if = "OprCtrl.graphType == 'flight-proc-status'">
                   <h2 class="graph-title pop-title padding-left">{{OprCtrl.flightProcSection}}
                   </h2>
                </div>
                <div ng-if = "OprCtrl.graphType == 'flight-count-reason'">
                    <h2 class="graph-title pop-title padding-left">{{OprCtrl.flightCountSection}}
                   </h2>
                </div>
                <div ng-if = "OprCtrl.graphType == 'cc-exception-category'">
                    <h2 class="graph-title pop-title padding-left">{{OprCtrl.couponCountSection}}
                   </h2>
                </div>   
              </div>
              <div class="col-10 popup-close padding-right" ng-click="OprCtrl.closePopover()"><i class="icon ion-close icon-larger"></i></div>
            </div>
            <div class="row no-padding">
                <div class="col padding-left pull-left graph-title">
                      Month Data
                </div>
            </div>
            <div class="row">
                    <div class="col box-cont monthdata-modifier monthdata-padding">
                       <div ng-if = "OprCtrl.graphType == 'flight-proc-status'">
                           <he-custom-pie-chart chart-height="250" chart-width="450" format-value="value" chart-data="OprCtrl.flightProcStatus.pieChart.data"></he-custom-pie-chart>
                            <div class="row">
                              <div class="col text-center">
                                <span class="graph-title-bottom">Expected : </span><span class="graph-title-bottom-value">
                                {{OprCtrl.flightProcStatus.pieChart.pieChartFooter[0].value}} (100%)</span>
                              </div>        
                            </div>  
                       </div>
                       
                       <div ng-if = "OprCtrl.graphType == 'flight-count-reason'">
                           <he-custom-pie-chart chart-height="250" chart-width="450" format-value="value" chart-data="OprCtrl.flightCountReason.pieChart.data"></he-custom-pie-chart>
                           <div class="row">
                              <div class="col text-center">
                                <span class="graph-title-bottom">Expected : </span><span class="graph-title-bottom-value">
                                {{OprCtrl.flightCountReason.pieChart.pieChartFooter[0].value}} (100%)</span>
                              </div>        
                            </div>   
                        </div>

                        <div ng-if = "OprCtrl.graphType == 'cc-exception-category'">
                            <he-custom-pie-chart chart-height="250" chart-width="450" format-value="value" chart-data="OprCtrl.couponCountException.pieChart.data"></he-custom-pie-chart>
                            <div class="row">
                              <div class="col text-center">
                                <span class="graph-title-bottom">Expected : </span><span class="graph-title-bottom-value">
                                {{OprCtrl.flightProcStatus.pieChart.pieChartFooter[0].value}} (100%)</span>
                              </div>        
                            </div>   
                        </div>
                    </div>
            </div> 
          </div>
          <div ng-if="OprCtrl.charttype == 'weekdata'">
               <div class="row">
                  <div class="col-90">
                        <div ng-if = "OprCtrl.graphType == 'flight-proc-status'">
                           <h2 class="graph-title pop-title padding-left">{{OprCtrl.flightProcSection}}
                           </h2>
                        </div>
                        <div ng-if = "OprCtrl.graphType == 'flight-count-reason'">
                            <h2 class="graph-title pop-title padding-left">{{OprCtrl.flightCountSection}}
                           </h2>
                        </div>
                        <div ng-if = "OprCtrl.graphType == 'cc-exception-category'">
                            <h2 class="graph-title pop-title padding-left">{{OprCtrl.couponCountSection}}
                           </h2>
                        </div>     
                  </div>
                  <div class="col-10 popup-close padding-right" ng-click="OprCtrl.closePopover()"><i class="icon ion-close icon-larger"></i></div>
               </div>
               <div class="row no-padding">
                  <div class="col padding-left pull-left graph-title">
                      Week Data
                    </div>
                </div>
               <div class="row">
                <div class="col box-cont">
                  <div ng-if="OprCtrl.graphType == 'flight-proc-status'">
                    <div ng-repeat="weekdata in OprCtrl.flightProcStatus.weekData" ng-if="$index == OprCtrl.currentIndex">
                    <div class="row">
                      <div class="col col-80 weekdata-zoom-margin">
                      <div  class="flightprocessStatus four-bar weekdata-popover-padding" data-item-title="Month Data">
                      <nvd3-discrete-bar-chart
                          data="[weekdata]"                              
                          tooltips="true"
                          showXAxis="false"
                          showYAxis="false"
                          showValues="true"
                          height="280"
                          color="OprCtrl.fourBarColorFunction()"
                                          width="340">
                        <svg></svg>
                      </nvd3-discrete-bar-chart>
                      <p class="graph-title-bottom text-center">{{weekdata.key}}</p>
                      </div>
                      <p class="pull-right weekdata-zoom-perecent-margin">{{weekdata.closedPercent}}</p>
                      </div>                    
                      </div>
                    </div>
                  </div>
                  <div ng-if="OprCtrl.graphType == 'flight-count-reason'">
                    <div ng-repeat="weekData in OprCtrl.flightCountReason.weekData" ng-if="$index == OprCtrl.currentIndex">
                    <div class="row">
                     <div class="col col-80 weekdata-zoom-margin">
                      <div class="openflightcountbyreason three-bar weekdata-popover-padding" data-item-title="Month Data" data-item-flag="{{$index+2}}">
                        <nvd3-discrete-bar-chart
                              data="[weekData]"                              
                              tooltips="true"
                              showXAxis="false"
                              showYAxis="false"
                              showValues="true"
                              color="OprCtrl.colorFunction()"
                              height="280"
                              width="300">
                          <svg></svg>
                        </nvd3-discrete-bar-chart>
                        <p class="graph-title-bottom text-center">{{weekData.key}}</p>
                        </div>
                        <p class="pull-right weekdata-zoom-perecent-margin">{{weekData.closedPercent}}</p>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div ng-if="OprCtrl.graphType == 'cc-exception-category'">
                    <div ng-repeat="weekData in OprCtrl.couponCountException.weekData" ng-if="$index == OprCtrl.currentIndex">
                    <div class="row">
                      <div class="col col-80 weekdata-zoom-margin">
                        <div class="couponcountbyexceptioncategory three-bar weekdata-popover-padding" data-item-title="Month Data" data-item-flag="{{$index+2}}">
                        <nvd3-discrete-bar-chart
                              data="[weekData]"                             
                              tooltips="true"
                              showXAxis="false"
                              showYAxis="false"
                              showValues="true"
                              color="OprCtrl.colorFunction()"
                              height="280"
                              width="300">
                          <svg></svg>
                        </nvd3-discrete-bar-chart>
                        <p class="graph-title-bottom text-center">{{weekData.key}}</p>
                        </div>
                        <p class="graph-title-bottom weekdata-zoom-perecent-margin">{{weekData.closedPercent}}</p>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
          </div>

          <div ng-if="OprCtrl.charttype == 'daydata'">
               <div class="row">
                  <div class="col-90">
                       <div ng-if = "OprCtrl.graphType == 'flight-proc-status'">
                           <h2 class="graph-title pop-title padding-left">{{OprCtrl.flightProcSection}}
                           </h2>
                        </div>
                        <div ng-if = "OprCtrl.graphType == 'flight-count-reason'">
                            <h2 class="graph-title pop-title padding-left">{{OprCtrl.flightCountSection}}
                           </h2>
                        </div>
                        <div ng-if = "OprCtrl.graphType == 'cc-exception-category'">
                            <h2 class="graph-title pop-title padding-left">{{OprCtrl.couponCountSection}}
                           </h2>
                        </div>     
                  </div>
                  <div class="col-10 popup-close padding-right" ng-click="OprCtrl.closePopover()"><i class="icon ion-close icon-larger"></i></div>
               </div>
               <div class="row no-padding">    
                   <div class="col no-padding pull-left graph-title flightprocessStatus" data-item-title="Day Data" data-item-flag="6">
                         <div class="col padding-left pull-left graph-title">
                           Day Data

                         </div>
                         <div ng-if = "OprCtrl.graphType == 'flight-proc-status'">
                          <nvd3-multi-bar-chart                         
                          data="OprCtrl.flightProcStatus.stackedChart.stackedBarchartItems"                         
                          showXAxis="true"
                          showYAxis="true"
                          height="300"
                          stacked="true"
                          tooltips="true"
                          staggerLabels="true"
                          interactive="true"
                          useInteractiveGuideline="true"
                          xAxisLabel="Day" 
                          yAxisLabel="Open Flights Count">
                          <svg></svg></nvd3-multi-bar-chart> </div>

                          <div ng-if = "OprCtrl.graphType == 'flight-count-reason'">
                          <nvd3-multi-bar-chart                          
                          data="OprCtrl.flightCountReason.stackedChart.stackedBarchartItems"                         
                          showXAxis="true"
                          showYAxis="true"
                          height="300"
                          stacked="true"
                          tooltips="true"
                          staggerLabels="true"
                          interactive="true"
                          useInteractiveGuideline="true"
                          xAxisLabel="Day" 
                          yAxisLabel="Open Flights Count"
                          <svg></svg></nvd3-multi-bar-chart></div>

                          <div ng-if = "OprCtrl.graphType == 'cc-exception-category'">
                          <nvd3-multi-bar-chart
                          data="OprCtrl.couponCountException.stackedChart.stackedBarchartItems"                         
                          showXAxis="true"
                          showYAxis="true"
                          height="300"
                          stacked="true"
                          tooltips="true"
                          staggerLabels="true"
                          interactive="true"
                          useInteractiveGuideline="true"
                          xAxisLabel="Day" 
                          yAxisLabel="Open Flights Count"
                          <svg></svg></nvd3-multi-bar-chart> </div>
                    </div>  
                </div>
          </div>
        </div>
    </ion-content>
 </ion-popover-view>