 <ion-popover-view class="graphpopover pie-popover-cust">
    <ion-content>
<div ng-if="OprCtrl.charttype == 'monthdata'">
            <div class="row">
              <div class="col-90">
                <div ng-if = "OprCtrl.graphType == 'flight-proc-status'">
                   <h2 class="graph-title pop-title padding-left">{{OprCtrl.flightProcSection}}
                   </h2>
                </div>
                <div ng-if = "OprCtrl.graphType == 'flight-count-reason'">
                    <h2 class="graph-title pop-title padding-left">{{OprCtrl.flightCountSection}}
                   </h2>
                </div>
                <div ng-if = "OprCtrl.graphType == 'cc-exception-category'">
                    <h2 class="graph-title pop-title padding-left">{{OprCtrl.couponCountSection}}
                   </h2>
                </div>   
              </div>
              <div class="col-10 popup-close padding-right" ng-click="OprCtrl.closePopover()"><i class="icon ion-close icon-larger"></i></div>
            </div>
            <div class="row no-padding">
                <div class="col col-20 padding-left pull-left graph-title">
                      Month Data
                </div>
                <div class="col col-80 pull-right">
                <div id="chart-legend-operation" ng-show="OprCtrl.graphType == 'flight-proc-status'">
                  <div  ng-repeat="legend in OprCtrl.flightProcLegends">
                  <div class="chart_legend fp-legend-{{$index}}">{{legend}}</div>                
                </div>
                </div>
                <div ng-show="OprCtrl.graphType == 'flight-count-reason'">
                <div ng-show="OprCtrl.toggle.openOrClosed=='OPEN'" ng-repeat = "legend in OprCtrl.flightReasonLegends.open">
                  <div class="chart_legend fp-legend-{{$index+1}}">{{legend}}</div>
                 </div>
                <div ng-show="OprCtrl.toggle.openOrClosed=='CLOSED'" ng-repeat = "legend in OprCtrl.flightReasonLegends.closed">
                  <div class="chart_legend fp-legend-{{$index+1}}">{{legend}}</div>
                 </div>
                </div>
                
                <div id="chart-legend-operation" ng-show="OprCtrl.graphType == 'cc-exception-category'">
                   <div  ng-repeat="legend in OprCtrl.flightCouponLegends">
                  <div class="chart_legend fp-legend-{{$index+1}}">{{legend}}</div>                
                </div>
                </div>
              </div>
            </div>
            
            <div class="row">
                    <div class="col box-cont monthdata-modifier monthdata-padding">
                       <div ng-if = "OprCtrl.graphType == 'flight-proc-status'">
                           <he-custom-pie-chart chart-height="400" chart-width="450" format-value="value" chart-data="OprCtrl.flightProcStatus.pieChart.data"></he-custom-pie-chart>
                            <div class="row">
                              <div class="col text-center">
                                <span class="graph-title-bottom">Expected : </span><span class="graph-title-bottom-value">
                                {{OprCtrl.flightProcStatus.pieChart.pieChartFooter[0].value}} (100%)</span>
                              </div>        
                            </div>  
                       </div>
                       
                       <div ng-if = "OprCtrl.graphType == 'flight-count-reason'">
                           <he-custom-pie-chart chart-height="400" chart-width="450" format-value="value" chart-data="OprCtrl.flightCountReason.pieChart.data"></he-custom-pie-chart>
                             
                        </div>

                        <div ng-if = "OprCtrl.graphType == 'cc-exception-category'">
                            <he-custom-pie-chart chart-height="400" chart-width="450" format-value="value" chart-data="OprCtrl.couponCountException.pieChart.data"></he-custom-pie-chart>   
                        </div>
                    </div>
            </div> 
          </div>
          </ion-content>
          </ion-popover-view>