/* common global styles */
body{
    font-family: $roboto_regular !important;
    overflow: hidden;
    overflow-x: hidden;
    width: 100%;
    height:100%;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clear {
	clear: both;
}
.bold{
	font-weight: 600;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-italic {
	font-style: italic;
}
.pull-left{
    text-align: left;
}
.pull-right{
    text-align: right;
}
.no-margin{
    margin: 0px !important;
}
.no-padding{
    padding: 0px !important;
}
.show{
	display: block;
}
.hide{
	display: none;
}
.appBG {
	background-color: $page-bg !important;
}
.navBG {
	background-color: $header-bg;
	border-bottom: $header-bg;
}
.no-border{
	border: none !important;
}
.border-bottom{
	border-bottom: 1px solid $border-grey;
}
@mixin margin-all($value1, $value2, $value3, $value4) {
	margin-top: $value1 !important;
	margin-right: $value2 !important;
	margin-bottom: $value3 !important;
	margin-left: $value4 !important;
}
@mixin margin-vertical($value1, $value2) {
	margin-top: $value1 !important;
	margin-bottom: $value2 !important;
}
@mixin margin-horizontal($value1, $value2) {
	margin-left: $value1 !important;
	margin-right: $value2 !important;
}
@mixin margin-top($value) {
	margin-top: $value !important;
}
@mixin margin-bottom($value) {
	margin-bottom: $value !important;
}
@mixin margin-right($value) {
	margin-right: $value !important;
}
@mixin margin-left($value) {
	margin-left: $value !important;
}
@mixin padding-all($value1, $value2, $value3, $value4) {
	padding-top: $value1 !important;
	padding-right: $value2 !important;
	padding-bottom: $value3 !important;
	padding-left: $value4 !important;
}
@mixin padding-vertical($value1, $value2) {
	padding-top: $value1 !important;
	padding-bottom: $value2 !important;
}
@mixin padding-horizontal($value1, $value2) {
	padding-left: $value1 !important;
	padding-right: $value2 !important;
}
@mixin padding-top($value) {
	padding-top: $value !important;
}
@mixin padding-bottom($value) {
	padding-bottom: $value !important;
}
@mixin padding-right($value) {
	padding-right: $value !important;
}
@mixin padding-left($value) {
	padding-left: $value !important;
}
.col-bot {
	vertical-align: bottom;
}
.col-40 {
	flex: 0 0 40%;
	max-width: 40%;

}
.errorspan {
	color: $item-bg;
	margin-left: 3.5em;
}
.close-icon {
	display: inline-block;
    float: right;
    top: -36px;
}
.username-reset {
	top: 10%;
}
.password-reset {
	top:34%;
}
/*Button bg trasperancy*/

$primary-button-color-tr: rgba(245, 166,35, 0.7);

.curs{
 cursor:pointer;
 }
 .metric-modifier, .rev-modifier{
 	text{
 		stroke: none;
 		font-size: 14px;
 		fill: $metric-fill-color;
 	}
 }
 $button-large-icon-size: 152px !default;

.scroll {
    height: 100%;
}

.hide-option {
	float: right;
	text-align: right;
	margin-right: 10px;
	font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: $fifth-text-color;
    display: none;
}
.pull-left {
	.hide-option {
		margin-right: 0;
	}
}
.hide-options {
	display: block !important;
}
