$ionicons-font-path: "../lib/ionic/fonts" !default;
// @import "www/lib/ionic/scss/ionic";

.white-icon{
    color: $light;
}
.bar-modifier{
    background-color: $header-bar-bg-color;

}
.cont-bg-color{
    background-color: $content-bgcolor;

}
.graph-percent-red{
    color: $graph-percent-red;
    font-family: $roboto_regular;
}
.graph-percent-blue{
    color: $fifth-text-color;
    font-family: $roboto_regular;
}

.slider-slide h3{
    color:$light;
    margin-top:10px;
}
#tab-id .scroll{
    height:100%;
    border-bottom: 4px solid $light-border-color;
}

.tabbed-slidebox .tsb-icons:after{
    display:none;
}

.newitem {
    border: 0;
    outline: 0;
    background: transparent!important;
    border-bottom: 1px solid $light !important;
    border-top-color: transparent!important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.login-input{
       
    padding-top: 4px!important;
    padding-left: 19px!important;
    height: 53px!important;
    color: $light !important;
    vertical-align: middle;
    font-size: 20px!important;
    line-height: 23px!important;
    
}
.login-btn-width{
    width: 200px;
    font-weight: 700;
}
#mydiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:80em;
    height:29em;
    margin-top: 14em; 
    margin-left: -15em;
    
}
.metric-modifier{
    font-size: 16px;
    font-weight: bold;
    color: $section-heading-color;
    font-family: $roboto_regular;
}
.button-modifier{
    font-size: 14px;
    height: 35px !important;
    min-height: 20px !important;
    line-height: 31px !important;
    @include padding-horizontal(0px, 0px);
}
.box{
    height: 300px;
    @include border-radius(2px);
    border: 2px solid $box-border-color;
    
}
.nav-height{
    height: 70px !important;
    border-bottom: none;
}
.has-header-new{
    margin-top: -11px !important;
}
.cust{
    width: 50px;
    height: 50px;
    color: $light;
    min-height: 50px !important;
}
.bar-modifier{
    .cust:before{
        vertical-align: top;
        font-size: 60px  !important;
        line-height: 51px !important;
    }
}
.header-item{
    height: 74px !important;
    right: 0px !important;
    overflow: inherit !important;
}
.line-height-10{
    line-height: 30px!important;
}
.pas-head-title{
    text-transform: uppercase;
    font-size: 18px;
    color: $light;
}
.pas-head-subtitle{
    font-size: 14px;
    font-weight: normal;
    color: $light;
}
.pas-head-subtitle select{
    @include padding-all(4px, 4px, 4px, 4px);
    margin: 0;    
    color:$third-text-color;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 80px;
    @include border-radius(2px);
    font-family: $roboto_regular;
}
.move-left{
    @include margin-left(-5px);
    cursor: pointer;
}
.selectmonth{
    background-color: transparent;
    border: none;
    color: $third-text-color;
}
.img-circle{
    @include border-radius(50%);
    width: 40px;
    height: 40px;
}
.profile-img {
    float: right;
}
.profile-name{
    float: right;
    color: $light;
}
.last-login {
    clear: both;
    line-height: 13px;
    font-size: 12px;
    text-align: right;
    @include padding-vertical(0px, 5px);
    @include margin-top(0px);
    color: $light;
    font-weight: bold;
}
.ion-arrow-up-b, .ion-arrow-down-b{
    border: 1px solid transparent;
}
.larger {
    font-size: larger;
}
.dropbtn {
    color: white;
    padding: 16px;
    @include padding-all(16px, 0, 16px, 16px);
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: $dropdown-bg;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px $third-shadow;
    right: 0;

    a {
        color: $dropdown-text !important;
        border-bottom: 1px solid $dropdown-border;
        text-decoration: none;
        display: block;
    }
}
.dropdown {
    position: relative;
    display: inline-block;
    a {
        &:hover {
            background: $dropdown-text-hover;
        }
    }
} 

.show {display:block;}

.heade2-values, .heade3-values{
    color: $primary-text-color;
    font-weight: bold;
    font-size: 12px;
}
.export{
    height: 40px;
    min-width: 40px;
    line-height: 30px;
    @include padding-all(6px, 6px, 6px, 6px);
    min-height: 40px;
    border-radius: 50%;
    background: $light;
    @include margin-top(0px);
    margin-right: 10px;
}

.col-demo {
    @include padding-all(5px, 5px, 5px, 5px);
    width: 100%;
    border: 1px solid $border-transparent;
    @include border-radius(4px);
    background: $light;
    text-align: center;
    min-height: 240px;
    box-shadow: 0px 0px 11px $shadow-color;
}
.cust-font{
    font-size: 13px;
}
.icon-larger:before{
    font-size: 20px;
    font-weight: bold;
    color: $secondary-text-color;
}
.graph-title{
    font-size: 1em;
    color: $title-color;
    font-weight: bold;
    font-family: $roboto_regular;

}
.chart_legend {
    float: right;
    padding-bottom: 9px;
    padding-right: 10px;
    padding-left: 14px;
    font-weight: normal;
    font-size: 14px;
}
.graphpopover .chart_legend {
    float: left;
    padding-right: 10px; 
    padding-bottom: 9px;
    padding-left: 14px;
    font-weight: normal;
    font-size: 14px;
}
.chart-legend-rev {
    float: left;
    @include padding-all(1em, 10px, 9px, 0.4em);
    font-weight: normal;
    font-size: 14px;
}
.chart_legend.middle:before {
    border: 5px solid $third-border-color;
}
.chart_legend.middle:before {
    border: 7px solid $seventh-border-color !important;
    display: inline-block;
    vertical-align: middle;
    @include margin-top(-2px);
}
.chart_legend:before, .chart-legend-rev:before{
    content: " ";
    @include margin-all(0px, 5px, 0px, 0px);
}

.chart_legend.to:before, .chart-legend-rev.to:before {
    border: 7px solid $legend-border-two !important;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.chart_legend.from:before, .chart-legend-rev.from:before {
    border: 7px solid $legend-border-one !important;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.box-cont{
    min-height: 150px;
    /* max-height: 200px;*/
}
.icon-larger-red:before{
    font-size: 20px;
    font-weight: bold;
    color: $graph-percent-red;
}
.icon-larger-blue:before{
    font-size: 20px;
    font-weight: bold;
    color: $fifth-text-color;
}
.graph-percent-title{
    font-weight: 500;
    font-size: 14px;
    font-family: $roboto_regular;
}
.slide-min-height{
    min-height: 500px;
}
.route-rev-min-height{
    min-height:145px !important;
}
.route-rev-padding-top{
    @include padding-top(20px);

}
.route-rev-val{
    font-size: 22px;
    font-weight: 500;
    line-height: 41px;
}
.route-rev-title{
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
}
.border-right{
    border-right: 1px solid $box-border-color;
}


/* login checkbox custom starts */

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    /* margin: 5px;*/
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
    top: -2px;
    @include padding-all(0px, 10px, 0px, 10px);
    @include margin-all(0px, -10px, 0px, -10px);
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: transperent;
    border: 2px solid $fourth-border-color;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    @include padding-all(0px, 0px, 0px, 0px);
   /* margin-right: 10px;*/
    text-align: center;
}
.checkbox-custom1 + .checkbox-custom-label:before{
    content: '';
    border: none !important;
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    @include padding-all(0px, 0px, 0px, 0px);
   /* margin-right: 10px;*/
    text-align: center;
    border: 2px solid $fifth-border-color !important;
    @include border-radius(2px);
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: '✔';
    font-family: 'FontAwesome';
    color: $light;
}
.checkbox-custom1:checked + .checkbox-custom-label:before {
    content: '✔';
    font-family: 'FontAwesome';
    background: $button-bg-color !important;
    color: $light !important;
    border: 2px solid $sixth-border-color !important;
}

.radio-custom + .radio-custom-label:before {
    @include border-radius(50%);
}

.radio-custom:checked + .radio-custom-label:before {
     content: '✔';
    font-family: 'FontAwesome';
    color: $radio-color;
}


/* login checkbox custom ends */
.margin-top-1{
    @include margin-top(-1px);  
}
.button-custom-color{
    background-color: $button-bg-color !important;
    color: $light !important;
}
.button.activated {
    background: $primary-button-color-tr !important;
}
.button .button-custom-color.active, .button .button-custom-color.activated {
    background-color: $button-bg-color !important;
}
.button-inactive{
     background-color: $button-bg-color-inactive;
     color: $btn-icon-color;
}
.menu-bg a{
    background-color: $button-bg-color !important;
}
.menu-bg a:hover{
    background-color: $menu-bg-hover !important;
}
.menu-bg a:active{
    background-color: $menu-bg-hover !important;
}
.has-header-menu{
    top: 68px !important;
}
.download-btn {
    @include padding-vertical(0px, 0px);
    @include padding-right(0px);
    width: 100%;
    .button-bar {
        width: 80%;
        float: right;
        padding-top: 0;
        a {
            &:nth-child(2) {
                border-radius: 0 2px 2px 0;
            }
            &:nth-child(3) {
                margin-left: 10px !important;
                border-radius: 2px 0 0 2px;
            }
            img {
                vertical-align: middle;
            }
        }
    }
}
.sector-analysis {
    .button-bar {
        width: 67%;
    }
    select {
        margin-top: 0;
    }
}
.header-padding{
    @include padding-horizontal(12px, 16px);
}
.padding-right-zero{
    @include padding-right(0px);
}
.padding-left-zero{
    @include padding-left(0px);
}
.web-view {
    display: block;
}
.mob-view {
    display: none; 
}

@media only screen  and (min-device-width: 768px) and (max-device-width: 1024px) {
    .mob-view {
        display: none;
    }
    .web-view {
        display: block;
    }
    
        .content-head, .sector-head {
        .icon {
            &:before{
                font-size: 24px;
                line-height: 31px !important;
            }
        }
        .extra-small{
            max-width: 140px !important;
        }        
    }
        .content-head{
            .btn-section{
                width: 91%!important;
                float: right!important;
            }
        }
    .tabbed-slidebox .tsb-icons .scroll a {
        @include padding-horizontal(30px, 30px);
        margin: -14px 0px !important;
    }
    .net-revenue{
        .rev{
            min-width: 54px;
            font-size: inherit;
        }
        .pax{
            min-width: 70px;
            font-size: inherit;
        }
    }
    .bar-modifier{
        .cust:before{
            vertical-align: top;
            font-size: 54px !important;
            line-height: 59px  !important;
        }
    }
    .header-item{
        .header-logo{
            margin-top: 0.45em;
            margin-left: -1.3em;
        }
    }
    .has-header {
        top: 35px;
    }
    .horizontal-bar-graph-label {
        width: 10%;
    }
    .pie-popover-cust{
        height: 550px;
        margin-top: -10% !important;
            /*.monthdata-padding {
                    padding: 0 11%;
            }*/
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {     
    .content-head, .sector-head {
        .icon {
            &:before{
                font-size: 26px;
                line-height: 31px !important;
            }
        }
    }
    .cust-font {
        font-size: 0.68em;
    }
    .heade2-values{
        font-size: 1em;
    }
    .route-rev-title {
        font-size: 0.6em;
    }
    .metric{
        .rev-modifier{
            @include padding-all(0px, 16%, 0px, 16%);
            svg{
                margin-left: -1em;
            }
        }
        .tblstyl {
            @include padding-all(0px, 0px, 0px, 0px);
        }
    }
    .footer{ 
        bottom:12% !important; 
    }
    .route-rev-section{
        .row{
            flex: none !important;
            display: inline-block;
        }
        .col{
            flex: none !important;
            float: left;
        }
        .col-33{                
            max-width: 50%;
        }
        .net-rev-height{
            min-height: 317px;
            max-height: 317px;
        }
    }
    .sector-head {
       .cust-sel-width{
            width: 6em;
       }
    }
    .rev-footer{
        position: inherit !important;
    }
    .percentpadding-revenuechart {
        padding: 0 21% !important;
    }

    .popover-wrapper{
        .chart_legend{
            font-size: 11px;
        }
    }
    .percentpadding{
        padding: 0 18%;
    }
    .content-head{
            .rev-btn-section{
                    width: 81%!important;
                    float: right!important;
            }
        }
    .percentpadding-revenuechart-bar{
        padding: 4% 20%;
    }
    .pass-dashboard {
        .button-bar {
            max-width: 72% !important;
        }
    }
    .col-33 {
        .button-bar {
            max-width: 72% !important;
        }
    }
    .content-head .two-buttons-only {
        width: 70% !important; 
    }
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .net-revenue{
        .rev, .pax {
            font-size: 15px;
        }
    }
    .sector-head {
        .cust-sel-width{
            width: 7em;
        }
    }
    .metric{
        .rev-modifier{
            @include padding-all(0px, 23%, 0px, 23%);
            svg{
                margin-left: -1em;
            }
        }
        .monthdata-modifier{
            @include padding-all(0px, 12%, 0px, 12%);
            @include margin-top(-7%);
        }
        .metric-modifier{
            @include padding-all(0px, 10%, 0px, 10%);
        }
    }
    .content-head{
        .rev-btn-section{
                width: 73%!important;
                float: right!important;
        }
        .percentpadding-revenuechart-bar{
            padding: 4% 25%;
        }
        .pie-popover-cust{
            .monthdata-padding {
                padding: 0 19%;
            }
        }
    }
    .content-head .two-buttons-only {
        width: 70% !important;
    }
}
@media only screen  and (min-width: 1025px) {
    .web-view {
        display: block;
    }
    .mob-view {
        display: none; 
    }

    .rev-pie-modifier{
        @include padding-all(0px, 17%, 0px, 17%);
    }
    .tab-section-tabs {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        @include padding-all(5px, 5px, 5px, 5px);

        width: 100%;
    }
    .sector-head {
       .cust-sel-width{
            width: 6em;
       }
    }
    .content-head, .sector-head {
        .button {
            max-width: 150px;
        }
        .btn-section{
            width: 60%!important;
            float: right!important;
        }
        .sector-analysis {
            width: 50%!important;
        }
        .icon {
            &:before{
                font-size: 26px;
                line-height: 31px !important;
            }
        }
        .extra-small{
            max-width: 140px !important;
        }
        .ion-chevron-down{
            &:before{
                font-size: 16px;
                line-height: 30px !important;
            }
        }
    }
    .has-header {
        top: 35px;
    }
    .header-item{
        .header-logo{
            margin-top: 0.35em;
            margin-left: -1.3em;
        }
    }
    .metric{
        .rev-modifier{
            @include padding-all(0px, 32%, 0px, 32%);

        }
        .metric-modifier{
            @include padding-all(0px, 20%, 0px, 20%);
        }
    }
    .rev-bar-modifier{
        padding: 0 13%;
    }
    .percentpadding-revenuechart-bar{
        padding: 0 33% !important;
    }
    .pie-popover-cust{
        height: 550px;
        top: 10% !important;
        margin-top: -5% !important; 
    }
    .bar-popover-cust{
        height: 450px;
        top: 10% !important;
        margin-top: -5% !important; 
    }
    .content-head .two-buttons-only {
        width: 50% !important; 
    } 
    .op-dboard .two-buttons-only {
        width: 70% !important; 
    }
}
.menu-bg{
    hr{
        border-bottom: 1px solid $light !important;
        width: 90%;
    }
    .head-title{
        font-size: 20px !important;
    }

}
.scroll-height{
    height:100% !important;
}
.select-height{
    line-height: 32px;
}
/* svg{
    height: 30% !important;
} */
.infopopover {
    background: $info-popup-bg !important;
    @include padding-all(0.5em, 0.5em, 0.5em, 0.5em);
    width: 23% !important;
    margin-top:10px;
    max-height: 242px;
    overflow:visible;
}
.Info-page-title {
    font-size: 18px;
    padding-bottom: 5px;
    @include margin-horizontal(-5px, 5px);
}
.drillpopover{
    padding: 0.5em;
    width: 96% !important;
    top: 25% !important;
    left:2% !important; 
    min-height: 460px;
    border-radius: 1px !important;
    background: none; 
    box-shadow: none !important;
}

.graphpopover {
    @include padding-all(0.5em, 0.5em, 0.5em, 0.5em);
    width: 96% !important;
    top: 25% !important;
    left:2% !important; 
    border: 1px solid $border-transparent-two;
    background: none; 
    box-shadow: 0px 0px 11px $second-shadow-color !important;
    @include border-radius(1px);
}
.sector-graph-popover {
    padding: 0.5em;
    @include padding-all(0.5em, 0.5em, 0.5em, 0.5em);
    width: 96% !important;
    top: 25% !important;
    left:2% !important; 
    min-height: 460px;
    border: 1px solid rgba(115, 114, 114, 0.4);
    box-shadow: 0px 0px 11px $second-shadow-color !important;
    @include border-radius(1px);
    background: $light;  
}
.graphpopover {
    min-height: 440px !important;
}
.sector-graph-popover {
    min-height: 380px !important;
}
.sector-graph-popover .padding-horizontal .row {
    @include padding-all(0px, 0px, 20px, 0px);
}
.graphpopover .scroll, .sector-graph-popover .scroll, .drillpopover .scroll {
    background: $light;
    min-height: 230px;
    padding: 10px;
    height: auto;
}

.drillpopover .scroll{
    border: 1px solid $border-transparent-two;
    box-shadow: 0px 0px 11px $second-shadow-color !important;
}
.drillpopover .ion-close {
    @include padding-all(0px, 17px, 0px, 0px);
    @include margin-all(0px, 0px, 0px, 15px);
}

.popover-wrapper .infopopover .popover-arrow {
    position: absolute;
    display: block;
    top: -21px;
    width: 30px;
    height: 21px;
    overflow: hidden;
}
.popover-wrapper .infopopover .popover-arrow:after {
    position: absolute;
    top: 12px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: $info-popup-bg;
    @include border-radius(3px);
    content: '';
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.popover-wrapper .drillpopover .popover-arrow, 
.popover-wrapper .drillpopover .popover-arrow:after {
    display:none;
}
.infopopover .ion-close {
    /* @include padding-all(0px, 15px, 0px, 15px); */ 
    /* @include margin-all(0px, -10px, 0px, -10px); */
    position: absolute;
    right: 0;
}
.ion-close:before {
    position:relative;
}
.graphpopover, .sector-graph-popover {
    background: $light !important;
    padding: 0.5em;
    top: 30% !important;
    left:15% !important;
    /*border: 1px solid rgba(115, 114, 114, 0.4);*/
    width:70% !important;
    box-shadow: 0px 0px 11px $second-shadow-color !important;
    @include border-radius(1px);
}
.popover-arrow {
    display:none;
}
.pop-title {
    font-size: 1.3em;
}
.pop-text {
    font-size: 1.1em;
}
.percentpadding{
    padding: 0 20%;
}
.percentpadding-revenuechart {
    padding: 0 26%;
}
.popup-close{
    text-align: right;
    cursor: pointer;
    position: absolute;
    right: 0;
}
.drilldown-head{
    @include padding-all(10px, 5px, 10px, 5px);
    font-size: 14px;
    border: 0;
    color: $light !important;
    background: $drilldown-header-bg !important;
}
.drilldown-head.active{
    background: $drilldown-header-active-bg !important;
}
.accord-icon:before{
    padding-right: 5px;
    font-size: 17px !important;
    font-weight: bold;
}
.drilldown-content{
    color: $dropdown-text !important;
    background: $light !important; 
    border: 0;
    padding: 0;
    @include margin-all(10px, 0px, 15px, 0px);
}
.drilldown-title{
    font-size: 13px;
    @include padding-all(5px, 5px, 5px, 10px);
}
.drilldown-list:nth-child(even) {
    background: $drilldown-even-bg;
}
.drill-page-title{
    text-transform:uppercase;
    font-weight: bold;
}
.drilldown-list{
    font-size: 12px;
    @include padding-all(5px, 5px, 5px, 10px);
    @include margin-top(0px);
}
.main-title {
    @include padding-left(15px);
}
.search-results{
    font-size: 12px;
    text-align: left;
    @include padding-left(15px);
}
.drill-search{
    border-bottom: 1px solid $drilldown-header-bg !important;
    margin: -25px 0 10px 0px;
    @include padding-all(12px, 0px, 20px, 25px);
}
.search-icon{
    color: $drilldown-header-bg;
}
.search-close{
    float: right;
    margin-top: -35px;
}
.activedrill{
    background: $drilldown-active-bg !important;
    color: $light !important;
}
.margin-top-10{
    margin-top: 10px !important;
}
.pagination {
    float: right;
}
.pagination li{
    float: left;
    margin-right: 10px;
}
.pagination li a{
    text-decoration:none;
    display: block;
    border: 0;
    font-size: 12px;
    @include padding-all(0px, 6px, 0px, 6px);
}
.pagination li a.active{
    text-decoration:none;
    display: block;
    border: 1px solid orange;
    font-size: 12px;
    @include padding-all(0px, 6px, 0px, 6px); 
}

.web-view, 
.mob-view .tsb-hscroll.scroll-view {
    border-bottom: 1px solid $border-grey;
}

@media only screen and (max-device-width: 480px) {
    .user-info{
        display: none;
    }
    .header-logo{
        img{
            width: 117%;
            @include margin-left(-29px);
        }
    }
    .pas-head-title{
        font-size: 14px;
    }
    .flown-title{
        @include margin-left(-10px);
    }
    .content-head, .sector-head {
        .icon {
            &:before{
                font-size: 26px;
                line-height: 31px !important;
            }
        }
    }

    .tabbed-slidebox .tsb-icons .scroll a{
        @include margin-all(-4px, 0px, -4px, 0px);
    }
    /* .has-header {
        top: 0px!important;
    } */
    .scroll-width{
        width: 125%;
    }
    .net-revenue{
        .rev{
            min-width: 54px;
            font-size: 12px;
        }
        .pax{
            min-width: 64px;
            font-size: 12px;
        }
    }
    .hide-option {
        display: block !important;
    }
    .hide-options {
        display: none !important;
    }
    .web-view {
        display: none;
    }
    .mob-view {
        display: block;
    }

}
@media only screen and (min-device-width: 480px) and (max-device-width: 667px) {
    .user-info{
        display: none;
    }
    .header-logo{
        img{
            width: 70%;
            @include margin-left(-29px);
        }
    }
    .flown-title{
        text-align: center;
    }
    .tabbed-slidebox .tsb-icons .scroll a{
        @include margin-all(-4px, 0px, -4px, 0px);
    }
    .has-header {
        top: 0px!important;
    }
    .scroll-width{
        width: 117%;
    }
    .hide-option {
        display: block !important;
    }
    .hide-options {
        display: none !important;
    }
    .web-view {
        display: none;
    }
    .mob-view {
        display: block;
    }
    .custom-footer {
        display: none;
    }
}
@media (min-device-width: 800px) and (max-device-width: 1280px) {
    .net-revenue{
        .rev{
            min-width: 64px;
            font-size: 14px;
        }
        .pax{
            min-width: 72px;
            font-size: 14px;
        }
    }
    .content-head .btn-section, .sector-head .btn-section {
        /* width: 85% !important; */
        float: right !important;
    }
    .web-view {
        display: block;
    }
    .mob-view {
        display: none;
    }
}
.horizontal-bar-graph,.net-rev-bar-graph {
    display: table;
    width: 100%;
    position: relative;
}

.horizontal-bar-graph-segment {
    display: table-row;
    height: 4em;
}
.net-rev-bar-graph-segment {
    display: table-row;
    height: 3em;
}
.horizontal-bar-graph-label {
    display: table-cell;
    /* border-right: 1px solid silver; */
    text-align: right;
    @include padding-all(0px, 9px, 3px, 0px);
    vertical-align: top;
    white-space: nowrap;
    /* vertical-align: middle;
    display: table-cell;*/
    
}
.net-rev-bar-graph-label{
    display: table-cell;
    text-align: right;
    @include padding-all(0px, 1px, 3px, 0px);
    vertical-align: baseline;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.horizontal-bar-graph-value {
    display: table-cell;
    /* padding: 1.4em 0;
    vertical-align: baseline;*/
    width: 100%;
    /* padding-top: 1.4em;*/
}
.net-rev-bar-graph-value {
    display: table-cell;
    padding: 0.4em 0;
    vertical-align: baseline;
    width: 100%;
}
.horizontal-bar-graph-value-scale{
    width: 95%;
    border: 1px solid $graph-scale-border;
    @include margin-top(-0.3em);
}
.horizontal-bar-graph-value-bar, .net-rev-bar-graph-value-bar {
    // @include box-sizing(padding-box);      // commented by jai. need to re add
    @include padding-all(4px, 4px, 3px, 4px);
    height: 1em;
    text-align: right;
    color: white;
    overflow: visible;
    display: table;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    position: relative;
    height: 25px;
}
.net-rev-bar-graph-value-bar {
    height: 32px;
}
.horizontal-bar-graph-segment:nth-child(1), .net-rev-bar-graph-segment:nth-child(1){
    .horizontal-bar-graph-value-bar, span{
       background: $hor-bar-span-one-bg; 
    }
    .net-rev-bar-graph-value-bar{
       background: $fifth-text-color; 
    }
}

.horizontal-bar-graph-segment:nth-child(2), .net-rev-bar-graph-segment:nth-child(2){
    .horizontal-bar-graph-value-bar, span{
       background: $hor-bar-span-two-bg; 
    }
    .net-rev-bar-graph-value-bar{
       background: $fifth-text-color; 
    }
}
.net-rev-bar-graph-segment:nth-child(2){
    .net-rev-bar-graph-value-bar{
       background: $legend-border-two; 
    } 
}
.horizontal-bar-graph-segment:nth-child(3){
    .horizontal-bar-graph-value-bar, span{
           background: $hor-bar-span-three-bg; 
        }
}
.horizontal-bar-graph-segment:nth-child(4){
    .horizontal-bar-graph-value-bar, span{
            background: $hor-bar-span-four-bg; 
        }
}
.horizontal-bar-graph-segment:nth-child(5){
    .horizontal-bar-graph-value-bar, span{
        background: $hor-bar-span-five-bg; 
    }
}
.horizontal-bar-graph-value-bar{
    span{
        display: block;
        height: 38px;
        position: absolute;
        /* background-color: #387ef5;*/
        top: -6px;
        right: -2em;
        width: 40px;
        @include padding-top(7px);
        @include border-radius(3px);
        text-align: center;
     }
}
.horizontal-bar-graph-segment{
    .tooltip{
        opacity: 1;
        position: absolute;
        background: $light;
        padding: 1em;
        right: 0%;
        width: 17em;
        z-index:10;
        box-shadow: 0px 0px 3px $shadow-color;
    }
    button{
        height: 28px;
        margin-top: -0.4em;
        background: $default-button-color;
        color: $light;
        @include border-radius(2px);
        width: 35px;
        vertical-align: text-bottom;
    }
}
.horizontal-bar-graph-segment:first-child {
  .horizontal-bar-graph-label { /* padding-top: 12px;*/ }
  .horizontal-bar-graph-value { /* padding-top: 11px;*/ }
}
.horizontal-bar-graph-segment:last-child {
  .horizontal-bar-graph-label { /* padding-bottom: 12px;*/ }
  .horizontal-bar-graph-value { /* padding-bottom: 11px;*/ }
}
.horizontal-bar-graph-segment{
    .tooltip {
        table{
            width:100%;
                tr:nth-child(even) {background: $even-row-bg}
                tr:nth-child(odd) {background: $light}
        }
        table td,
        table th {
            text-align:left;
            padding: 2px 0 2px 5px;
            /* border-right: 1px solid $light;*/
        }

        table td + td,
        table th + th {
            text-align:right;
            @include padding-all(2px, 5px, 2px, 0px);
        }
        p {
            text-align:left;
        }
        table th {
            background: $table-th;
            color: $light;
        }

    }
}

.tick { 
    line {
       display: none;
    }
}
.sector-padding{
    padding: 5%;   
}
.net-rev-title{
    text-align:left;
    padding-top: 1.5em;
}
.net-rev-height{
    min-height: 316px;
}

.button-bg{
    background-color: $default-button-color;
    min-height: 30px !important;
    border: none;
    @include border-radius(2px);
    height: 35px;
    margin-top: 2px;
}
.button-bg option{
    background-color: $light;
    min-height: 30px !important;
    color: $dark;
}
.button-bg option:hover{
    background-color: $box-border-color !important;
}
.select-bg{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
    background: $light url("res/img/arrow-down.png") no-repeat;
    background-size: 25% 76%;
    background-position: right center;   
}
.custom-footer{
    color: $light;
    position: fixed;
    bottom: 1.2em;
}
.flown-footer{
   // color: $dark; // commented by jai. need to re add
    position: absolute;
    bottom: 122px;
}
.btn-section{
    .btn-padding-top {
        padding-top:2px;    
    }
}
.font-normal:before{
    font-weight: normal !important;
}

/* Table Grid View */
.tblhder {
    background: $table-header-bg;
    color: $light;
    width: 98%;
    margin: auto;
    text-align: center; 
}

.row tblhder .col:first-child {
    display: none; 
}

.tblvalues:nth-of-type(even) {
    background: $even-tr;
    margin: auto;
    width: 98%; 
}

.tblvalues:nth-of-type(odd) {
    background: $light;
    margin: auto;
    width: 98%; 
}

.tbltxt {
    text-align: left;
    margin: auto;
    width: 98%;
    border-right: 1px solid $light; 
}
.tblcol, .tblhdrttl {
    border-right: 1px solid $light; 
}
.tblcol:last-child, .tblhdrttl:last-child {
    border-right: 0px none; 
}
.gridview {
    width: 98%;
    margin: auto;
    background: $light;
    @include padding-vertical(10px, 10px);
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid $border-transparent-two;
    box-shadow: 0px 0px 11px $second-shadow-color; 
}

.resptbl {
    background: $light;
    color: $dark;
    border-radius: .4em;
    overflow: hidden; 
}
.resptbl tr {
    border-color: $table-tr-border; 
}
.resptbl th, .resptbl td {
    margin: .5em 1em; 
}

@media (min-width: 600px) {
    .resptbl th, .resptbl td {
        padding-left: 1em !important;
        border-right: 1px solid $light; 
    } 
}
.resptbl th:before {
    color: $light; 
}
.resptbl td:before {
    color: $dark; 
}

.resptbl {
    margin: 1em 0;
    /*min-width: 300px;*/
    width: 98%;
    margin: 1em auto;
    border-radius: 1px; 
}
.resptbl .tblcol:nth-child(even) {
    background: $even-tr-two; 
}
.resptbl .tblcol:nth-child(odd) {
    background: $light; 
}
.resptbl tr {
    border-bottom: 1px solid $fourth-border-color; 
}
.resptbl th {
    display: none; 
}
.resptbl td {
    display: block;
    text-align:left; 
}
.resptbl td:first-child {
    padding-top: .5em; 
}
.resptbl td:last-child {
    padding-bottom: .5em; 
}
.resptbl td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 15em;
    display: inline-block; 
}
  
@media (min-width: 600px) {
    .resptbl td:before {
        display: none; 
    } 
    .resptbl th, .resptbl td {
        display: table-cell;
        padding: .25em .5em; }
        .resptbl th:first-child {
          padding-left: 0; }
        .resptbl th:last-child {
          padding-right: 0; } 
          .resptbl td:last-child{
            padding-right: .5em;
            }
          .resptbl td.tblvalname {
            text-align: left;
             }
            .resptbl td {
                text-align: right;
                padding-right: 5px;
            }
            .resptbl th
            {
                text-align: center;
            }
            .resptbl .graph-title
            {
                text-align:left;
                padding: 0em;
            }         
    }

/* Table Grid View */

 /*Disabling platform specific tweaks */
/*.platform-ios.platform-cordova:not(.fullscreen) .bar-header {
    height: 44px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
    height: 44px !important;
}*/

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
    margin-top: 0px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 0px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top {
    top: 44px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
    top: 34px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .has-header-menu, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
    top: 54px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
    top: 88px !important;
}

.drill-scroll-section{
    overflow-x:auto;
}
.drill-scroll-width{
    width:100%;
}
.drill-scroll-width-inner{
    min-width:1500px;
    display: table !important;
}
.drill-scroll-width-inner .col-10{
    min-width:110px;
    float:left;
}
.drill-scroll-width-inner .col-15{
    min-width:150px;
    float:left;
}
.drill-scroll-width-inner .col-20{
    min-width:220px;
    float:left;
}
.drill-scroll-width-inner .col-30{
    min-width:330px;
    float:left;
}
.drill-scroll-width-inner .col-40{
    min-width:440px;
    float:left;
}
.intial-header{
    margin-top: 35px;
}
.opr-carousel-cont{
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
.button-energized{
    .button-modifier{
        @include padding-top(6px);
    }
}  

/* tooltip custom */
.nvtooltip p {
  padding: 5px 28px 5px 10px;
  font-size: 12px !important;
}

.nvtooltip span {
  font-size: 12px !important;
}
.route-rev-cont {
    .row {
        flex: none !important;
        display: inline-block;
    }
    .col {
        flex: none !important;
        float: left;
    }            
}

@media screen 
  and (device-width: 375px) 
  and (device-height: 627px) 
  and (orientation: portrait) {
    .two-buttons-only {
        padding-left: 50% !important;
    }
    .hide-option {
        display: block !important;
    }
    .hide-options {
        display: none !important;
    }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: landscape) {
    .web-view {
        display: none !important;
    }
    .mob-view {
        display: block !important;
    } 
}


/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape) {
        .route-rev-section{
            .row{
                flex: none !important;
                display: inline-block;
            }
            .col{
                flex: none !important;
                float: left;
            }
            .col-33{                
                max-width: 50%;
            }
            .net-rev-height{
                min-height: 317px;
                max-height: 317px;
            }
    }
    .route-rev-section{
            .row{
                flex: none !important;
                display: inline-block;
            }
            .col{
                flex: none !important;
                float: left;
            }
            .col-33{                
                max-width: 50%;
            }
            .net-rev-height{
                min-height: 317px;
                max-height: 317px;
            }
    }
    .header-logo img {
            width: 53%;
            margin-left: -31px;
    }
    .pass-dashboard {
        .button-bar {
            max-width: 72%;
        }
    }
    .two-buttons-only {
        width: 30% !important;
        float: right;
    }
    .revenu-analysis .two-buttons-only {
        width: 50% !important;
    }
    .hide-option {
        display: block !important;
    }
    .hide-options {
        display: none !important;
    }
    .metric-modifier .hide-option {
        margin-top: 0; 
    }
    .web-view {
        display: none !important;
    }
    .mob-view {
        display: block !important;
    }
    .net-revenue {
        .metric-modifier {
            margin-bottom: 0 !important;
        }
        .hide-option {
            margin-top: 0;
        }
    }
    .section-margin {
        .metric-modifier {
            margin-bottom: 0 !important;
        }
        .hide-option {
            margin-top: 0;
        }
    }
    .margin-top10 {
        margin-top:0 !important
    }
    .drillpopover .scroll-content {
        height: 56%;
    }
    .rev-pie-modifier svg {
        height: 302px !important;
    }
    .net-revenue-monthly .col-demo {
        min-height: 305px !important;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait) {
    .header-logo img {            
        width: 119%;
        margin-left: -34px;
    }
    .net-revenue{
        .col-60{
            .row{
                flex: none !important;
                display: inline-block;
                max-width: 100%;
                div{
                    max-width: 40%;
                }
                select{
                    max-width: 40%;
                }
            }
            div{
                flex: none !important;
                float: left;
            }
            select{
                flex: none !important;
                float: left;
            }
            .net-rev-height{
                min-height: 317px;
                max-height: 317px;
            }
        }
    }
    .button-bar {
        float: right;
        padding: 0 5px;
    }
    .sector-analysis {
        .export {
            float: left;
            margin-right: 4px;
        }
    }
    .revenue-analysis {
        .button-bar {
            max-width: 72%;
        }
    }
    .download-btn {
        select {
            max-width: 57%;
        }
    }
    .two-buttons-only {
        width: 65% !important;
        float: right;
    }
    .hide-option {
        display: block !important;
    }
    .hide-options {
        display: none !important;
    }
    .hide-options-margin {
        margin-bottom: 0 !important;
    }

    .sector-car-analysis {
        .export {
            margin-left: 60%;
        }
        .button-bar {
            width: 80%;
            margin-top: 15px;
            padding-right: 0;
        }
    }
    .net-revenue {
        .metric-modifier {
            margin-bottom: 0 !important;
        }
        .hide-option {
            margin-top: 0;
        }
    }
    .section-margin {
        .metric-modifier {
            margin-bottom: 0 !important;
        }
        .hide-option {
            margin-top: 0;
        }
    }
    .has-header {
        top: 60px !important;
    }  
}
@media only screen and (min-device-width: 320px) and (max-device-width: 667px){
    .col-demo{
        .col-10, .col-20{
            .icon-larger:before {
                display:none;
            }
        }
    }
    .flown-footer{
        position:relative;
        bottom: 15px;
    }
    
    .nav-height {
        height: 56px !important;
        border-bottom: none;
    }
    .bar-modifier .cust:before {
        vertical-align: top;
        font-size: 44px !important;
        line-height: 41px !important;
        margin-top: -4px;
    }
    .pas-head-subtitle {
        font-size: 14px;
        font-weight: normal;
        color: $light !important;
        margin-top: -9px;
    }
    .hide-options {
        display: none !important;
    }
    .web-view {
        display: none !important;
    }
    .mob-view {
        display: block !important;
    }
    .custom-footer {
        display: none;
    }
    .has-header {
        top: 45px !important;
    }
    .header-item {
        height: 60px !important;
    }
    .infopopover {
        width: 50% !important;
        margin-top: 10px;
    }
    .route-rev-padding-top .col-33 {
        /* border-right: 0;
        border-bottom: 1px solid $border-grey; */
        max-width: 32%;
    }
    .download-btn {
        select {
            min-width: 80px;
        }
    }
    .horizontal-bar-graph-segment{
        button{
            margin-left: 10px;
        }
    }
    .metric-modifier text, .rev-modifier text {
        font-size: 8px;
    }
}