$box-border-color: #C8C7C7;
$third-bar-color: #B8E986;

$graph-percent-red: #D01D1B;
$graph-percent-blue: #4990E2;

$legend-border-one: $graph-percent-blue;
$legend-border-two: #50E3C2;

$graph-scale-border: #D1CAC5;

$hor-bar-span-one-bg: #C9D5DF;
$hor-bar-span-two-bg: #9DC3E0;
$hor-bar-span-three-bg: #92C7F0;
$hor-bar-span-four-bg: #65B5F3;
$hor-bar-span-five-bg: #078EE0;