<ion-view hide-nav-bar="true">
  <ion-content class="login-bg">
    <div class="login-topmargin" >
      <div class="row">
        <div class="col col-33">
          <center><img src="img/logo.png" alt="" ></center>
          <form name="loginForm" class="list" ng-submit="doLogin()" novalidate>
            <div class="row invalidErrorMessage" ng-show="invalidMessage">
              <i class="col-10 col-offset-10 icon ion-alert-circled"></i>
              <p class="col-70 col-center visible invalidError-text ng-binding">Please check your credentials</p>
            </div>
            <label class="item newitem item-input">
              <span class="ion-person white-icon"></span>
              <input type="text" name="username" ng-focus="invalidMessage=false" class="login-input" placeholder="Username" ng-model="loginData.username" required>
            </label>
            <span ng-show="(loginForm.username.$dirty && loginForm.username.$error.required)" class="help-block errorspan ng-binding">Username is required</span>
            <label class="item newitem item-input">
              <span class="ion-locked white-icon"></span>
              <input type="password" name="password" ng-focus="invalidMessage=false" class="login-input" placeholder="Password" ng-model="loginData.password" required>
            </label>     
            <span ng-show="(loginForm.password.$dirty && loginForm.password.$error.required)" class="help-block errorspan ng-binding">Password is required</span>
            <div class="spacer" style="width: 300px; height: 50px;"></div>
            <center> <button class="button button-custom-color login-btn-width" type="submit">Login</button>
            <br/>   
            <div class="row checkbox-wrap">
              <div class="col">   
              <input class="checkbox-custom" type="checkbox">
              <label class="checkbox-custom-label"></label>
              Keep me logged in
              </div>
              <div class="col">Trouble logging in?</div>
            </div>
            </center>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
