<ion-view view-title="Search">
  <ion-content scroll="false">
    
    <!-- <div class="container">
		<div class="row">
	      <a href="#" id="leftArr" class="arrow" ng-click="leftArrClick()">
			<i class="ion-arrow-left-c"></i>
	      </a>
	      <a href="#" id="rightArr" class="arrow" ng-click="rightArrClick()">
	        <i class="ion-arrow-right-c"></i>
	      </a>
	      <div class="col" id="tabs">
	          <div class="tabb" ng-repeat="menu in menus" title="{{menu.title}}" icon="ion-home" 
	           href="">
                 <div class="menutitle">{{menu.title}}</div>
              </div>
	      </div>
	    </div>
    </div> -->

    

    
          	<tab-slide-box>
			    	<div class="tsb-icons">
			    		<div class="tsb-ic-wrp">
							<ion-scroll direction="x" class="tsb-hscroll">
							  <a href="" class="tab" ng-repeat="tab in tabs" on-finish-render="">{{tab.title}}</a>
							</ion-scroll>
						</div>
			    	</div>
			        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
			            <ion-slide>
			                <nvd3 options="options" data="data"></nvd3>
			            </ion-slide>
			            <ion-slide>
			                <h3>Games content</h3>
			            </ion-slide>
			            <ion-slide>
			                <h3>Mail content</h3>
			            </ion-slide>
						<ion-slide>
			                <h3>Car content</h3>
			            </ion-slide>
			            <ion-slide>
			                <h3>Profile content</h3>
			            </ion-slide>
			            <ion-slide>
			                <h3>Favourites content</h3>
			            </ion-slide>
						<ion-slide>
			                <h3>Chats content</h3>
			            </ion-slide>
						<ion-slide>
			                <h3>Settings content</h3>
			            </ion-slide>
						<ion-slide>
			                <h3>Photos content</h3>
			            </ion-slide>
						<ion-slide>
			                <h3>Pets content</h3>
			            </ion-slide>
			        </ion-slide-box>
          	</tab-slide-box>
       
    
  </ion-content>
</ion-view>

