.errorspan {
	color: #ff0000;
	margin-left: 2.5em;
}
.close-icon {
	display: inline-block;
    float: right;
    top: -36px;
}
.username-reset {
	top: 10%;
}
.password-reset {
	top:34%;
}
.login-topmargin {
    display: table;
    position: relative;
    width: 90%;
    left: 5%;
    right: 5%;
    top: 120px;
}
.invalidErrorMessage {
	color: #ff0000;
	text-align: center;
    /*margin-left: 21px;*/
    border-bottom: 1px solid #ff0000;
}
.invalidError-text {
	font-size: 1.2em;
}

.login-options {
	font-size: 14px !important;
}
.scroll {
    height: 100%;
}

@media only screen 
  and (min-device-width: 768px) {
  	.login-topmargin {	
		width: 50% !important;
		margin: 0 auto;
		right: 0;
		left: 0;
		top: 23% !important;
	}
}
.login-subtitle{
	color: $select-month-color;
	font-weight: bold;
    font-size: 1em;
    padding-bottom: 2em;
}
.login-padding{
	padding-top: 3em !important;
}
.username-bottom{
	margin-bottom: 1em !important;
}