<ion-popover-view class="setting-popup">
  <ion-nav-bar class="bar-modifier nav-title-slide-ios7 nav-height settingnavbar">
    <div class="buttons buttons-left header-item"> <span class="left-buttons"></span> </div>
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title >
      <div class="row">
        <div class="col pull-left header-logo pas-head-title">Settings</div>
        <div class="col no-padding user-info">
          <div class="profile-img">
            <div class="col col-10 popup-close icon-larger ion-close"  ng-click="appCtrl.closeSettings()"></div>
          </div>
        </div>
      </div>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="padding">
  <div class="row">
    <div class="col col-75">Set My Dashboard</div>
    <div class="col col-25"><label>
          <select class="float-right" ng-model="appCtrl.selectSetting" ng-change="appCtrl.changeSetting()">
            <option ng-if="appCtrl.showDashboard('MIS')" value="d1">MIS-Passenger Flown</option>
            <option ng-if="appCtrl.showDashboard('Operational')" value="d2">Operational-Passenger Flown</option>
          </select></label></div>
  </div>
  <div ng-include="'components/setting/db1-setting.html'" ng-controller="SettingMisController as MisCtrl" ng-if="(appCtrl.selectSetting=='d1' || !appCtrl.selectSetting)"></div>
  <div ng-include="'components/setting/db2-setting.html'" ng-controller="SettingOptController as OprCtrl " ng-if="appCtrl.selectSetting=='d2'"></div>
  </ion-content>
</ion-popover-view>
