<div class="drill-scroll-width-inner row drilldown-head drilldown-title active " ng-if="group.items[0]">
  <div ng-if="(MisCtrl.shownGroup == 0)" class="col-10">Region</div>
  <div ng-if="(MisCtrl.shownGroup <= 1)" class="col-20">Country From - To </div>
  <div ng-if="(MisCtrl.shownGroup >= 1 && MisCtrl.shownGroup <= 2)" class="col-10">Sector </div>
  <div ng-if="(MisCtrl.shownGroup >= 2)" class="col-10">Flight Number </div>
  <div ng-if="MisCtrl.shownGroup == 3"  class="col-10">Flight Date </div>
  <div class="col-10">OWN/OAL </div>
  <div class="col-10 text-right">Net Revenue </div>
  <div class="col-10 text-right">% Contribution  </div>
  <div class="col-10 text-right">PAX Count
</div>
</div>
<div ng-class="{activedrill: MisCtrl.isDrillRowSelected(MisCtrl.shownGroup,item)}" class="drill-scroll-width-inner row drilldown-list" ng-repeat="item in group.ItemsByPage[MisCtrl.currentPage[MisCtrl.shownGroup]]"  ng-click="MisCtrl.openBarDrillDown(item,MisCtrl.shownGroup)">
  <div ng-if="MisCtrl.shownGroup == 0" class="col-10">{{item.regionName}}</div>
  <div ng-if="(MisCtrl.shownGroup <= 1)" class="col-20">{{item.countryFrom}} - {{item.countryTo}}</div>
  <div ng-if="(MisCtrl.shownGroup >= 1 && MisCtrl.shownGroup <= 2)" class="col-10">{{item.flownSector}}</div>
  <div ng-if="(MisCtrl.shownGroup >= 2)" class="col-10">{{item.flightNumber}}</div>
  <div ng-if="MisCtrl.shownGroup == 3" class="col-10">{{item.flightDate | date:'yyyy-MM-dd'}}</div>
  <div class="col-10">{{item.ownOal}}</div>
  <div class="col-10 text-right">{{item.netRevenue}}</div>
  <div class="col-10 text-right">{{item.contribution}}</div>
  <div class="col-10 text-right">{{item.paxCount}}</div>
</div>
