<ion-popover-view class="drillpopover">
  <ion-content class="padding">
    <div class="row ">
    <div class="col col-90 drill-page-title">ROUTE RVENUE - {{MisCtrl.regionName}}</div>
     <div class="col col-10 popup-close icon-larger ion-close"  ng-click="MisCtrl.closesPopover()"></div>
    </div>

    <ion-list class="row col margin-top-10">
        <div ng-repeat="group in MisCtrl.groups track by $index">
          <ion-item class="item-stable main-title drilldown-head"
                    ng-click="MisCtrl.toggleGroup(group.id)"
                    ng-class="{active: MisCtrl.isGroupShown(group.id)}">
              <i class="icon float-right accord-icon" ng-class="MisCtrl.isGroupShown(group.id) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
            &nbsp;
            PAX Revenue Report - {{group.name}}
            <span ng-if="MisCtrl.selectedDrill[($index)]"> :: {{MisCtrl.selectedDrill[($index)][MisCtrl.groups[($index)].firstColumns]}}<span ng-if="MisCtrl.groups[($index)].firstColumns == 'countryFrom'"> - {{MisCtrl.selectedDrill[($index)].countryTo}} </span> </span>
          </ion-item>
          <ion-item class="item-accordion drilldown-content"
          ng-class="{'drilldown-content-active': MisCtrl.isGroupShown(group.id), 'drilldown-content-inactive': !MisCtrl.isGroupShown(group.id)}" ng-show="MisCtrl.isGroupShown(group.id)">
            <div class="row responsive-sm" ng-if="group.items[0]">
              <div class="col col-33 search-results">
                Showing <span ng-if="!group.ItemsByPage[OprCtrl.currentPage[OprCtrl.shownGroup]].length">0</span>{{group.ItemsByPage[MisCtrl.currentPage[MisCtrl.shownGroup]].length}} out of {{group.items[0].length}} results
              </div>
              <div class="col col-33 ">
              <span class="ion-android-search search-icon"></span>
                      <input type="text" name="searchText" class="drill-search col col-100" ng-model="searchText" placeholder="Search"  ng-change="MisCtrl.searchResults($index,this)">
                      <div ng-click="searchText = ''" ng-show="searchText" class="search-close"><i class="icon ion-close placeholder-icon"></i></div>
              </div>
              <div class="col col-33">
                 <ul class="pagination pagination-sm">
                  <li ng-repeat="n in MisCtrl.range(group.ItemsByPage.length,MisCtrl.shownGroup)"> <a href="javascript:void(0);" ng-click="MisCtrl.setPage(MisCtrl.shownGroup, n)" ng-class="{'active': MisCtrl.currentPage[MisCtrl.shownGroup] ==n}" ng-bind="n+1">1</a>

                  </li>
              </ul>

              </div>
              
            </div>
            <div class="row drilldown-list " ng-if="!group.items[0]">
            No Records Available
            </div>
            <div class="row drilldown-head drilldown-title active " ng-if="group.items[0]">
              <div ng-if="(MisCtrl.shownGroup == 0)" class="col col-25">Country From-To</div>
              <div ng-if="(MisCtrl.shownGroup == 1)" class="col col-25">Flown Sector</div>
              <div ng-if="(MisCtrl.shownGroup == 2)" class="col col-25">Flight Number</div>
              <div ng-if="(MisCtrl.shownGroup == 2)" class="col col-25">Flown Date</div>
              <div ng-if="(MisCtrl.shownGroup == 3)" class="col col-25">Document Level</div>
              <div class="col col-25 text-right">Net Revenue <span class="ion-arrow-up-b" ng-show="!netRevenue" ng-click="netRevenue = !netRevenue;MisCtrl.sort('netRevenue',MisCtrl.shownGroup,true);"></span><span ng-show="netRevenue" ng-click="netRevenue = !netRevenue;MisCtrl.sort('netRevenue',MisCtrl.shownGroup,false)" class="ion-arrow-down-b"></span></div>
              <div ng-if="(MisCtrl.shownGroup == 0)" class="col col-25 text-right">%Contribution <span class="ion-arrow-up-b" ng-show="!contribution" ng-click="contribution = !contribution;MisCtrl.sort('contribution',MisCtrl.shownGroup,true);"></span><span ng-show="contribution" ng-click="contribution = !contribution;MisCtrl.sort('contribution',MisCtrl.shownGroup,false)" class="ion-arrow-down-b"></span></div>
              <div class="col col-25 text-right">Pax Count <span class="ion-arrow-up-b larger" ng-show="!paxCount" ng-click="paxCount = !paxCount;MisCtrl.sort('paxCount',MisCtrl.shownGroup,true);"></span><span ng-show="paxCount" ng-click="paxCount = !paxCount;MisCtrl.sort('paxCount',MisCtrl.shownGroup,false)" class="ion-arrow-down-b larger"></span></div>
            </div>
            <div ng-class="{activedrill: MisCtrl.isDrillRowSelected(MisCtrl.shownGroup,item)}" class="row drilldown-list" ng-repeat="item in group.ItemsByPage[MisCtrl.currentPage[MisCtrl.shownGroup]]"  ng-click="MisCtrl.openDrillDown(item,MisCtrl.shownGroup)">
              <div ng-if="(MisCtrl.shownGroup == 0)" class="col col-25">{{item.countryFrom}} - {{item.countryTo}}</div>
              <div ng-if="(MisCtrl.shownGroup == 1)" class="col col-25">{{item.flownSector}}</div>
              <div ng-if="(MisCtrl.shownGroup == 2)" class="col col-25">{{item.flightNumber}}</div>
              <div ng-if="(MisCtrl.shownGroup == 2)" class="col col-25">{{item.flightDate * 1000 | date:'yyyy-MM-dd'}}</div>
              <div ng-if="(MisCtrl.shownGroup == 3)" class="col col-25">{{item['document#']}}</div>
              <div class="col col-25 text-right padding-right">{{item.netRevenue}}</div>
              <div ng-if="(MisCtrl.shownGroup == 0)" class="col col-25 text-right padding-right">{{item.contribution}}</div>
              <div class="col col-25 text-right padding-right">{{item.paxCount}}</div>
            </div>
            {{item}}
          </ion-item>
        </div>
      </ion-list>


  </ion-content>
</ion-popover-view>