<div class="row drilldown-head drilldown-title active " ng-if="group.items[0]">
  <div ng-if="(MisCtrl.shownGroup == 0)" class="col-25">Route Type</div>
  <div ng-if="(MisCtrl.shownGroup == 1)" class="col-25">Route Code</div>
  <div class="col-25 text-right">Target</div>
  <div class="col-25 text-right">Actual</div>
</div>
<div ng-class="{activedrill: MisCtrl.isDrillRowSelected(MisCtrl.shownGroup,item)}" class="row drilldown-list" ng-repeat="item in group.ItemsByPage[MisCtrl.currentPage[MisCtrl.shownGroup]]"  ng-click="MisCtrl.openBarDrillDown(item,MisCtrl.shownGroup)">
  <div ng-if="(MisCtrl.shownGroup == 0)" class="col-25">{{item.routetype}}</div>
  <div ng-if="(MisCtrl.shownGroup == 1)" class="col-25">{{item.routecode}}</div>
  <div class="col-25 text-right">{{item.target}}</div>
  <div class="col-25 text-right">{{item.actual}}</div>
</div>
