

<ion-view>
<ion-nav-title>
      <div class="row"><div class="col">Test</div><div class="col">Test</div><div class="col">Test</div></div>
    </ion-nav-title>


	<ion-content class="has-header-new">
  		<tab-slide-box tab="0">
	    	<div class="tsb-icons">
	    		<div class="tsb-ic-wrp">
					<ion-scroll direction="x" class="tsb-hscroll">
					  <a href="" class="tab" ng-repeat="tab in tabs" on-finish-render="">{{tab.title}}</a>
					</ion-scroll>
				</div>
	    	</div>
			
			 <div class="row">
   <div class="col-50 padding-horizontal metric-modifier">METRIC SNAPSHOT</div>
   <div class="col-10" style="text-align:right"><img src="img/download.png" /></div>
   <div class="col-20">
   <div class="button-bar button-small ">
  <a class="button button-energized button-modifier">Month</a>
  <a class="button">Year</a>
</div>
   </div>
   <div class="col-20">
   <div class="button-bar button-small button-energized ">
  <a class="button button-energized button-modifier">Graph</a>
  <a class="button">Grid</a>
</div>
   </div>
   
   </div>
   <div class="row">
   	<div class="col box padding-horizontal">test</div>
   	<div class="col box col-offset-5 padding-horizontal">test</div>
   	<div class="col box col-offset-5 padding-horizontal">test</div>
   </div>
	        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
	            <ion-slide>
	                <nvd3 options="options" data="data"></nvd3>
	            </ion-slide>
	            <ion-slide>
	                <h3>Games content</h3>
	            </ion-slide>
	            <ion-slide>
	                <h3>Mail content</h3>
	            </ion-slide>
				<ion-slide>
	                <h3>Car content</h3>
	            </ion-slide>
	            <ion-slide>
	                <h3>Profile content</h3>
	            </ion-slide>
	            <ion-slide>
	                <h3>Favourites content</h3>
	            </ion-slide>
				<ion-slide>
	                <h3>Chats content</h3>
	            </ion-slide>
				<ion-slide>
	                <h3>Settings content</h3>
	            </ion-slide>
				<ion-slide>
	                <h3>Photos content</h3>
	            </ion-slide>
				<ion-slide>
	                <h3>Pets content</h3>
	            </ion-slide>
	        </ion-slide-box>
  		</tab-slide-box>
		
		
		
	</ion-content>

