 <div class="row section-margin responsive-sm content-head">
  <div class="col col-67 padding-horizontal padding-vertical metric-modifier pull-left">REVENUE ANALYSIS</div>
  <div class="col col-33">
    <div class="row btn-section responsive-sm">
      <div class=" pull-right padding-horizontal download-btn"><button class="button export"><img src="img/download.svg" /></button></div>
       <div class=" button-bar button-small button-energized padding-horizontal padding-right-zero">
        <a class="button button-custom-color button-modifier no-border"><i class="icon ion-stats-bars" ></i></a>
        <a class="button button-modifier no-border button-inactive"><i class="icon ion-ios-grid-view" ></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row section-margin responsive-sm">
  <div class="col col-33 padding-horizontal">
    <div class="col-demo">
      <div class="row">
        <div class="col col-80 no-padding pull-left graph-title">Net Revenue by OWN OAL</div>
        <div class="col col-20 no-padding pull-right"><i class="icon ion-ios-information-outline icon-larger"></i></div>
      </div>
      <div class="row">
        <div class="col box-cont net-rev-height">
          <!-- <nvd3 data="revenueHorBarChart" options="options.revenueHorBarChart"></nvd3> -->
          <div class="net-rev-title">OWN</div>
          <he-revenue-progress-bar chart-data="revenueData.revenueHorBarChart[0].values"></he-revenue-progress-bar>
          <div class="net-rev-title">OAL</div>
          <he-revenue-progress-bar chart-data="revenueData.revenueHorBarChart[1].values"></he-revenue-progress-bar>
          <div class="chart-legend-rev from">Passenger</div><div class="chart-legend-rev to">Ancillarry</div>
        </div>
      </div>                  
    </div>
  </div>
  <div class="col col-33 col-offset-5 padding-horizontal">
    <div class="col-demo">
      <div class="row">
        <div class="col col-90 no-padding pull-left graph-title">Passenger Revenue by class of Travel</div>
        <div class="col col-10 no-padding pull-right"><i class="icon ion-ios-information-outline icon-larger"></i></div>
      </div>
      <div class="row">
        <div class="col box-cont net-rev-height">
        	<!-- <nvd3 data="revenuePieChart" options="options.revenuePieChart"></nvd3> -->
          <he-custom-pie-chart chart-data="revenueData.revenuePieChart"></he-custom-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-33 col-offset-5 padding-horizontal">
    <div class="col-demo">
      <div class="row">
        <div class="col col-90 no-padding pull-left graph-title">Passenger Count by class of Travel</div>
        <div class="col col-10 no-padding pull-right"><i class="icon ion-ios-information-outline icon-larger"></i></div>
      </div>
      <div class="row">
        <div class="col box-cont net-rev-height">
          <nvd3 data="revenueData.revenueBarChart" options="options.passengerChart"></nvd3>
          <div class="chart-legend-rev from">OWN</div><div class="chart-legend-rev to">OAL</div>
        </div>
      </div>                  
    </div>
  </div>
</div>  