 <div class="row section-margin responsive-sm content-head">
  <div class="col col-67 padding-horizontal padding-vertical metric-modifier pull-left">REVENUE ANALYSIS</div>
  <div class="col col-33">
    <div class="row btn-section responsive-sm">
      <div class=" pull-right padding-horizontal download-btn"><button class="button export"><img src="img/download.svg" /></button></div>
       <div class=" button-bar button-small button-energized padding-horizontal padding-right-zero">
        <a class="button button-custom-color button-modifier no-border"><i class="icon ion-stats-bars" ></i></a>
        <a class="button button-modifier no-border button-inactive"><i class="icon ion-ios-grid-view" ></i></a>
      </div>
    </div>
  </div>
</div>
<div class="route-rev-section">
  <div class="row section-margin responsive-sm">
              <div class="col col-33 padding-horizontal">
                <div class="col-demo">
                  <div class="row">
                    <div class="col col-90 no-padding pull-left graph-title">Net Revenue by OWN OAL <i class="icon ion-ios-information-outline padding-horizontal icon-larger curs" ng-click = "openinfoPopover($event, revenueData.revenueHorBarChart.chartInfo)"></i></div>
                    <div class="col col-10 no-padding pull-right"><i ng-click="openPopover($event,0,'revenue')" class="icon icon-larger font-normal ion-android-open curs"></i></div>
                  </div>
                  <div class="row">
                    <div class="col box-cont net-rev-height">
                      <!-- <nvd3 data="revenueHorBarChart" options="options.revenueHorBarChart"></nvd3> -->
                      <div ng-repeat="revenueData in revenueData.revenueHorBarChart">
                        <div class="net-rev-title">{{revenueData.label}}</div>
                        <he-revenue-progress-bar chart-data="revenueData.values"></he-revenue-progress-bar>           
                      </div>
                      <div class="chart-legend-rev from">Passenger</div><div class="chart-legend-rev to">Ancillary</div>
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="col col-33 col-offset-5 padding-horizontal">
                <div class="col-demo">
                  <div class="row">
                    <div class="col col-90 no-padding pull-left graph-title">
                    {{revenueData.revenuePieChart.chartName | limitTo : 27}}
                    {{revenueData.revenuePieChart.chartName.length > 27 ? '...' : ''}}
                    <i class="icon ion-ios-information-outline padding-horizontal icon-larger curs" ng-click = "openinfoPopover($event, revenueData.revenueHorBarChart.chartInfo)"></i>
                    </div>
                    <div class="col col-10 no-padding pull-right"><i ng-click="openPopover($event,1,'revenue')" class="icon icon-larger font-normal ion-android-open curs"></i></div>
                  </div>
                  <div class="row">
                    <div class="col box-cont net-rev-height">
                      <!-- <nvd3 data="revenuePieChart" options="options.revenuePieChart"></nvd3> -->
                      <he-custom-pie-chart chart-data="revenueData.revenuePieChart.data"></he-custom-pie-chart>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-33 col-offset-5 padding-horizontal">
                <div class="col-demo">
                  <div class="row">
                    <div class="col col-90 no-padding pull-left graph-title">Passenger Count by class of Travel
                      <i class="icon ion-ios-information-outline padding-horizontal icon-larger curs" ng-click = "openinfoPopover($event, revenueData.revenueHorBarChart.chartInfo)"></i>
                    </div>
                    <div class="col col-10 no-padding pull-right"><i ng-click="openPopover($event,2,'revenue')" class="icon icon-larger font-normal ion-android-open curs"></i></div>
                  </div>
                  <div class="row">
                    <div class="col box-cont net-rev-height">
                      <nvd3 data="revenueData.revenueBarChart" options="options.passengerChart"></nvd3>
                      <div class="chart-legend-rev from">OWN</div><div class="chart-legend-rev to">OAL</div>
                    </div>
                  </div>                  
                </div>
              </div>
  </div>  
</div>