<div class="row section-margin responsive-sm">
  <div class="col col-90 padding-horizontal padding-vertical metric-modifier pull-left">ROUTE REVENUE</div>
  <div class="col col-10 pull-right padding-horizontal download-btn"><button class="button export"><img src="img/download.svg" /></button></div>          
</div>
<div class="row section-margin  responsive-sm">
  <div class="col col-33 padding-horizontal">
    <div class="col-demo route-rev-min-height">
      <div class="row border-bottom">
        <div class="col col-90 no-padding pull-left graph-title">{{routeRevData.RouteRevenueCharts[0].heading1}}<i class="icon ion-ios-information-outline padding-horizontal icon-larger font-normal curs" ng-click = "openinfoPopover($event, routeRevData.RouteRevenueCharts[0].chartInfo)"></i></div>
        <div class="col col-10 no-padding pull-right"></div>
      </div>
      <div ng-click="openDrillDownPopover($event,routeRevData.RouteRevenueCharts[0], -1)" class="row route-rev-padding-top">
        <div class="col col-33 no-padding graph-title border-right">
          <div class="route-rev-val">{{routeRevData.RouteRevenueCharts[0].paxCount}}</div>
          <div class="route-rev-title">Net Revenue</div>
        </div>
      <div class="col col col-33 no-padding graph-title border-right">
        <div class="route-rev-val">{{routeRevData.RouteRevenueCharts[0].paxCount}}</div>
        <div class="route-rev-title">% Contribution</div>
      </div>
      <div class="col col-33 no-padding graph-title">
        <div class="route-rev-val">{{routeRevData.RouteRevenueCharts[0].paxCount}}</div>
        <div class="route-rev-title">PAX Count</div>
      </div>
      </div>
    </div>
  </div>
  <div class="col col-33 col-offset-5 padding-horizontal">
    <div class="col-demo route-rev-min-height">
      <div class="row border-bottom">
        <div class="col col-90 no-padding pull-left graph-title">{{routeRevData.RouteRevenueCharts[1].heading1}}<i class="icon ion-ios-information-outline padding-horizontal icon-larger font-normal curs" ng-click = "openinfoPopover($event, routeRevData.RouteRevenueCharts[1].chartInfo)"></i></div>
        <div class="col col-10 no-padding pull-right"></div>
      </div>
      <div ng-click="openDrillDownPopover($event,routeRevData.RouteRevenueCharts[1], -1)" class="row route-rev-padding-top">
        <div class="col col-33 no-padding graph-title border-right">
          <div class="route-rev-val">{{routeRevData.RouteRevenueCharts[1].netRevenue}}</div>
          <div class="route-rev-title">Net Revenue</div>
        </div>
        <div class="col col-33 no-padding graph-title border-right">
          <div class="route-rev-val">{{routeRevData.RouteRevenueCharts[1].contribution}}</div>
          <div class="route-rev-title">% Contribution</div>
        </div>
        <div class="col col-33 no-padding graph-title">
          <div class="route-rev-val">{{routeRevData.RouteRevenueCharts[1].paxCount}}</div>
          <div class="route-rev-title">PAX Count</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-33 col-offset-5 padding-horizontal">
      <div class="col-demo route-rev-min-height">
        <div class="row border-bottom">
          <div class="col col-90 no-padding pull-left graph-title">{{routeRevData.RouteRevenueCharts[2].heading1}}<i class="icon ion-ios-information-outline padding-horizontal icon-larger font-normal curs" ng-click = "openinfoPopover($event, routeRevData.RouteRevenueCharts[2].chartInfo)"></i></div>
          <div class="col col-10 no-padding pull-right"></div>
        </div>
        <div ng-click="openDrillDownPopover($event,routeRevData.RouteRevenueCharts[2], -1)" class="row route-rev-padding-top">
          <div class="col col-33 no-padding graph-title border-right">
            <div class="route-rev-val">{{routeRevData.RouteRevenueCharts[2].netRevenue}}</div>
            <div class="route-rev-title">Net Revenue</div>
          </div>
          <div class="col col-33 no-padding graph-title border-right">
            <div class="route-rev-val">{{routeRevData.RouteRevenueCharts[2].contribution}}</div>
            <div class="route-rev-title">% Contribution</div>
          </div>
          <div class="col col-33 no-padding graph-title">
            <div class="route-rev-val">{{routeRevData.RouteRevenueCharts[2].paxCount}}</div>
            <div class="route-rev-title">PAX Count</div>
          </div>
        </div>
      </div>
  </div>
</div>