//fonts
$roboto_regular: helvetica;
$roboto_light: helvetica;
$montserrat_regular: helvetica;
$roboto_condensed: helvetica;

//urls
$helvetica_eot: url("../fonts/helvetica-webfont.eot");
$helvetica_ie: url("../fonts/helvetica-webfont.eot?#iefix");
$helvetica_woff2: url("../fonts/helvetica-webfont.woff2");
$helvetica_woff: url("../fonts/helvetica-webfont.woff");
$helvetica_ttf: url("../fonts/helvetica-webfont.ttf");
$helvetica_svg: url("../fonts/helvetica-webfont.svg#helveticaregular");

@font-face {
	font-family: $roboto_regular;
	src: $helvetica_eot;
	src: $helvetica_ie format('embedded-opentype'), $helvetica_woff2 format('woff2'), $helvetica_woff format('woff'), $helvetica_ttf format('truetype'), $helvetica_svg format('svg');
	font-weight: normal;
	font-style: normal;
}

